@import "compass";

@import "skeleton/base";
@import "skeleton/skeleton";
@import "skeleton/layout";

@import "octopress/utilities";
@import "octopress/typography";
@import "coderay_github";

$bg-front: image-url('/noise.png') !default;

body {
  @include background($bg-front, #F8F8F8);
}

div.container {
  margin-top: 2em;
}

header h1 {
  margin-top: 0.25em;
}

header h1 a {
  color: #444;
  font-size: 22px;
  line-height: 120%;
  text-decoration: none;
}

/* Responsive styles */
// 768px
@media only screen and (min-width: 768px) and (max-width: 959px) {
  div.container {
    margin-top: 1em;
  }
}

// 320px
@media only screen and (max-width: 767px) {
  div.container {
    margin-top: 1em;
  }
}

// 480px
@media only screen and (min-width: 480px) and (max-width: 767px) {
  div.container {
    margin-top: 1em;
  }
}
