<section id="about-page">
  <div class="page-header">
    <h1>About RailsBridge Boston</h1>
  </div>

  <div class="row">
    <div class="span6">
      <h3>Empowering Women with Ruby</h3>
      <p>
        Do you dream of someday writing software that helps people and improves the world?
      </p>
      <p>
        Led by an all-volunteer team of seasoned, enthusiastic Ruby and Rails developers, the workshop introduces women of all backgrounds  to the concepts, tools, and techniques of Ruby and Rails development. Our audience is those with no or little programming experience.
      </p>
      <p>
        We welcome you to the Boston Ruby community. Whatever your goal is in learning to program, we hope to connect you with the tools to take the next step.
      </p>

      <h3>Promoting Diversity</h3>
      <p>
        The Boston software scene needs more women. So this workshop is for women and their guests. You should identify as a woman, or be the male guest of a woman who is attending.
      </p>
      <p>
        We support mothers who want to code. We will provide childcare to those who need it. Please let us know if you want to
        use these services on the application form.
      </p>

      <h2>Contact</h2>
      <ul>
        <li>Follow us on Twitter: <a href="https://twitter.com/RailsBridgeBos">@RailsBridgeBos</a>.</li>
        <li>Email us directly: <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>.</li>
        <li>If you graduated from or volunteered at one of our workshops, join our <a href="https://groups.google.com/forum/?fromgroups#!forum/railsbridge-boston-alumni">RailsBridge Boston Alumni Google Group</a>.</li>
        <li>Tell us how we can improve our curriculum at <a href="https://github.com/railsbridge-boston/railsbridge-boston/issues">GitHub</a>.</li>
      </ul>

      <h2>Links</h2>
      <ul>
        <li><a href="http://workshops.railsbridge.org/">RailsBridge</a>: The original San Francisco Ruby on Rails workshop that made our effort possible.</li>
        <li><a href="https://openhatch.org">OpenHatch</a>: Our wonderful outreach effort mentors.</li>
        <li><a href="http://bostonrb.org">BostonRB</a>: The official local Ruby user group, and a wonderful community of helpful Rubyists.</li>
      </ul>
    </div>

    <div class="span6 column-of-images">
      <img src="/images/mar_2013/table1-r.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/2012-nov/IMG_9813-sm.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/aug2012/michael_durrant.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Braulio Carreno"/>
    </div>
  <div>
</section>
