<div class="recap row">
  <div class="span6">

    <h1>August 2012 Workshop Recap</h1>

    <p><em>by Daniel Choi, Braulio Carreno, Brendan Kemp, and Rebecca Nesson</em></p>

    <p>On Friday and Saturday, August 17-18, the Boston Ruby Group ran a free
    two-day introductory Ruby and Rails workshop for women (and friends).
    Forty-four beginners, 40 of them women, attended the sessions at Harvard
    Law School in Cambridge, MA. A team of 17 experienced Ruby programmers
    assisted them through software installation, lectures and exercises.
    Students who had never written a line of code struggled for the first time
    with the command line, git, HTTP protocol, irb, and heroku. By 4:30pm on
    Saturday, the students were tired from the exertion. But every student left
    the workshop with all the tools and concepts needed to write and deploy
    Rails applications.</p>

    <p>We also provided everyone three catered meals, free PragProg and
    O’Reilly e-books, and free drinks and appetizers at the afterparty.</p>

    <p>The inspiration for the workshop came on May 21, 2012, when Daniel Choi
    shared with the Boston Ruby mailing list the 2012 PyCon presentation titled
    <a href="http://www.youtube.com/watch?v=QrITN6GZDu4">“Diversity in
    practice: How the Boston Python User Group grew to 1700 people and over 15%
    women.”</a> In the video, outreach organizers Asheesh Laroia and Jessica
    McKellar describe how Boston Python increased its female membership from 1%
    to 15% with a year of outreach workshops and monthly project nights. The
    Boston Python outreach effort had been inspired in turn by the <a
    href="http://workshops.railsbridge.org/">RailsBridge diversity outreach
    effort</a> to bring more women into the Ruby comunity in San Francisco.
    We wanted to try to do the same thing for the Boston Ruby community.</p>

    <p>The event required a lot of prep
    work: getting advice, sponsors, venue, and catering, putting up a website,
    putting together the curriculum, promoting, and managing the waitlist.
    Hundreds of emails flurried back and forth. We met challenges, setbacks,
    and near-disasters. We had to learn how to navigate Harvard Law School’s
    administration to reserve rooms, wireless access, and catering. One
    potential sponsor we were hoping to get had us submit a written proposal
    but then after a week of consideration declined; another pulled out for
    budgetary reasons. We almost failed to realize that the room we originally
    reserved for the 6.5-hour Saturday session lacked power outlets!</p>

    <p>The most important task was recruiting a great teaching staff. Since one
    of the goals of the workshop was to show that there were capable,
    friendly women programmers in the Boston Ruby community, we felt that a
    woman should be the head instructor, and that the teaching staff should
    be predominantly female. We were worried that we wouldn’t meet this
    goal. But as word spread that we were organizing a workshop, enough
    women volunteers appeared to make up the majority of our teaching staff.
    And they were awesome teachers too.</p>

    <p>The 44 students we admitted into the workshop came from a variety of
    backgrounds. Besides the expected software developers we had librarians, a
    landscape designer, an architect, a chemistry researcher, a microbiologist,
    two MBAs, and several web and graphic designers. A good percentage of the
    attendees had some exposure to HTML/CSS and several had experience in PHP,
    Java, C and Python.  Two of our students had worked as developers for
    mainframe computers, writing PL/I and IBM assembler. One 
    student had been a professional C programmer 20 years ago, taken time off to 
    raise children, and wanted now to come back to programming.</p>

    <p>The workshop proved a big success. Based on our exit survey and direct
    feedback, the students found it a well-organized, well-paced, accessible,
    social, fun, and very friendly introduction to web application development
    with Ruby and Rails.</p>

    <p>
      <img src="/images/aug2012/survey_graph_1.jpg"/>
    </p>

    <blockquote>
        I have to say also that the general atmosphere of friendly cooperation
        was incredibly impressive.  It made me feel much more comfortable with
        joining the community.  I think it will make a big difference in my
        attending meetings, as well.  It's hard to just walk into a meeting of
        people you don't know.
    </blockquote>

    <blockquote>
      All the leaders & TAs were so nice and approachable.  I'm always
      intimidated by these events and I felt very welcome.
    </blockquote>

    <blockquote>
      The people were AWESOME. The instructors were incredibly nice and I met
      some really, really cool people.
    </blockquote>


    <blockquote>
      The instructions and teaching assistants absolutely MADE this workshop.
      I have done similar tasks using online tutorials.  But the volunteer
      folks were so knowledgeable and so helpful; it really made all the
      difference.</blockquote>

    <blockquote>The friendly and welcoming vibe of the group members and their clear
        love for Ruby.  I knew nothing coming in and loved that by the end I had
        a working app and a basic clear grasp of how to get there. Love that the
        sponsors are providing ebooks for us!  Assistants were very helpful.  
    </blockquote>

    <blockquote>I liked the encouragement, enthusiasm and caring that was evident
        throughout by the presenters and volunteers.  It's nice to know there is
        a support system available to new Rubyists.
    </blockquote>

    <p>A few things stand out as key ingredients for pulling off a successful RailsBridge workshop.</p>

    <ol>
      <li>
        <p>
        <strong>Vibe.</strong> Our beginners felt comfortable, welcomed, and
        attended to. For this we credit the recruited warm, friendly, and
        approachable teaching staff that we recruited. But it
        also helped a lot that we made it the goal of Friday night not just to
        get everyone through the
        installation tasks, but also to nudge people gently into socializing
        and lightening the mood. Before kicking off the Friday night
        installfest, we had all the teaching assistants and then the
        representatives of the sponsors—over twenty people in total—line up in
        front of the classroom and introduce themselves one by one.  Inevitably there were funny
        self-introductions that made the room erupt in laughter: the
        ice was broken in short order. Then came an unhurried installfest
        where teaching assistants and students had plenty of opportunities to
        interact and chat.</p>
      </li>
      <li>
        <p><strong>Pacing.</strong> By adding extra credit sections to the
        curriculum design and by having our teaching assistants scurry around
        to help every student who got stuck, we prevented quicker students
        from becoming bored and slower ones from being overwhelmed.
        We managed to keep everyone on roughly the same page throughout the day. 
        </p>
      </li>
      <li>
        <p><strong>Variety.</strong> We injected a bit of variety into the traditional
       RailsBridge curriculum with RailsBridge Boston’s own home-grown
       innovation: mini-lectures! [ELABORATE]</p>
      </li>
      <li>
        <p>
        <strong>Advisors.</strong> We would have been lost without the guidance 
        we got from seasoned
        outreach advisors. Jessica McKellar and Asheesh Laroia, stars of diversity
        outreach in the Python community, offered constant encouragement, gave
        us our basic outreach gameplan, and served as outreach role models. Mary Jenn
        of RailsBridge San Francisco guided us through the trove of RailsBridge
        workshop resources and other tactical points through countless emails and phone
        conversations.</p>
      </li>
      <li>
        <p><strong>Curriculum.</strong>
        Organizing the event itself was a lot of work; so it helped a lot that
        we didn’t have to write the whole curriculum from scratch. We took the
        well-vetted RailsBridge curriculum and focused on adding of a few of
        our own twists to it. Thanks primarily to the coding talents of 
        <a href="https://github.com/brendankemp/">Brendan Kemp</a>, we embedded
        the RailsBridge curriculum into our own custom Sinatra workshop
        application server, updated the RailsBridge styling a bit with Twitter
        Bootstrap, and deployed it with Heroku.
        </p>
      </li>
      <li>
        <p><strong>Teacher-student ratio.</strong>
        We had about one teaching assistant for every 3-4 students. This was
        just enough to keep most of the teaching staff busy helping students as they
        encountered obstacles, without overwhelming them.</p>
      </li>
    </ol>


<p>
  reserve quotes to use if necessary

    Diversity of the group - I have mostly worked in programmers-only
        groups. I was delighted to see the background of not only the learners
        but also the teachers. Not intimidating or over-whelming, very inspiring
        and makes me fall in love with CS and programming all over again.</blockquote>

            I loved the set-up of the class. The amount of material in each
        mini-lecture was just enough, and I loved that we were actually allowed
        to code a bit and learn from mistakes. The TAs I spoke with were all
        excellent and seemed very eager to help. Great job guys :-)

        The workshop was run very efficiently. It provided an excellent mixture
        of hands-on learning with lectures on the underlying concepts.

        I think everything was presented in very digestible bites, and this
        greatly facilitated learning.

        Welcoming atmosphere, majority women in attendance. Meeting real
        developers in the field.

        I loved that there were so many teaching assistants and also that so
        much care was taken to make sure nobody fell behind in the exercises.
        The food was great as well!  Kudos to the organizers and volunteers for a job well-done.

        I really enjoyed it!  Thanks so much... I can tell a ton of hard work
        went into it.

        I really liked that we broke into smaller groups on Saturday and had a
        TA working with us the whole time. As I was among a group of more
        experienced users, I learned quite a few new things and shortcuts that I
        can start using right away in my daily work.
</p>





  </div>
  <div class="span6 recap-images">
    <img src="/images/aug2012/michael_durrant.jpg"/>
    <img style="width:277px;margin-right:11px" src="/images/aug2012/amanda.jpg"/> <img style="width: 277px;" src="/images/aug2012/rebecca.jpg"/>
    <img src="/images/aug2012/anita.jpg"/>
    <img src="/images/aug2012/shana.jpg"/>
    <img src="/images/aug2012/classroom.jpg"/>
    <img src="/images/aug2012/overhead.jpg"/>
  </div>
</div>

