<div class="recap row">
  <div class="span6">

    <h1>August 2012 Workshop Recap</h1>

    <p><em>by Daniel Choi, Braulio Carreno, Brendan Kemp, and Rebecca Nesson</em></p>

    <p>On Friday and Saturday, August 17-18, a group of volunteers from the Boston Ruby community ran a free
    two-day introductory Ruby and Rails workshop for women (and friends).
    Forty-four beginners, 36 of them women, attended the sessions at Harvard
    Law School in Cambridge, MA. A team of 17 experienced Ruby programmers
    assisted them through software installation, lectures and exercises.
    Students who had never written a line of code struggled for the first time
    with the command line, Git, HTTP protocol, irb, and Heroku. By 4:30pm on
    Saturday, the students were tired from the exertion. But every student left
    the workshop with all the tools and concepts needed to write and deploy
    Rails applications.</p>

    <p>We also provided everyone three catered meals, free PragProg and
    O’Reilly e-books, and free drinks and appetizers at the afterparty.  
    </p>

    <p>The inspiration for the workshop came on May 21, 2012, when Daniel Choi
    shared with the Boston Ruby mailing list the 2012 PyCon presentation titled
    <a href="http://www.youtube.com/watch?v=QrITN6GZDu4">“Diversity in
    practice: How the Boston Python User Group grew to 1700 people and over 15%
    women.”</a> In the video, outreach organizers 
    <a href="http://web.mit.edu/jesstess/">Jessica McKellar</a> and <a href="http://www.asheesh.org">Asheesh Laroia</a>
    describe how Boston Python increased its female membership from 1%
    to 15% with a year of outreach workshops and monthly project nights. The
    Boston Python outreach effort had been inspired in turn by the <a href="http://workshops.railsbridge.org/">RailsBridge</a> diversity outreach
    effort to bring more women into the Ruby comunity in San Francisco.
    We wanted to try to do the same thing for the Boston Ruby community.</p>

    <p>The workshop required a lot of prep
    work: getting advice, sponsors, venue, and catering, putting up a website,
    putting together the curriculum, promoting, and managing the waitlist.
    Hundreds of emails flurried back and forth. We met challenges, setbacks,
    and near-disasters. We had to learn how to navigate Harvard Law School’s
    administration to reserve rooms, set up wireless access, and arrange catering. One
    potential sponsor we were hoping to get had us submit a written proposal
    but then after a week of consideration declined; another pulled out for
    budgetary reasons. We almost failed to realize that the room we originally
    reserved for the 6.5-hour Saturday session lacked power outlets!</p>

    <p>Since one
    of the goals of the workshop was to show that there were capable,
    friendly women programmers in the Boston Ruby community, we felt that a
    woman should be the head instructor, and that the teaching staff should
    be predominantly female. We were worried that we wouldn’t meet this
    goal. But as word spread that we were organizing a RailsBridge workshop, enough
    extremely capable women volunteers stepped forward to make up the majority of our teaching staff.
    It felt a little bit like the movie <a href="http://www.imdb.com/title/tt0097351/">Field of Dreams</a>.
    </p>

    <p>The 44 students we admitted into the workshop came from a variety of
    backgrounds. Besides software developers, we had librarians, a former baker, a
    landscape designer, an architect, a chemistry researcher, a microbiologist,
    two MBAs, and several web and graphic designers. A good percentage of the
    attendees had some exposure to HTML/CSS and several had experience in PHP,
    Java, C and Python.  Two of our students had worked as developers for
    mainframe computers, writing PL/I and IBM assembler. One 
    student had been a professional C programmer 20 years ago, taken time off to 
    raise children, and wanted to come back to programming, through Ruby.</p>

    <p>The workshop proved a big success. Based on our exit survey and direct
    feedback, the students found it a well-organized, well-paced, effective, accessible,
    fun, friendly, and inspiring introduction to web application development
    with Ruby and Rails.  
    Here are some of the results and general feedback we got in our exit survey, which had about a 70% response rate:</p>

    <div class="survey">
      <img src="/images/aug2012/overall-rating.png"/>
    </div>

    <blockquote>I have to say also that the general atmosphere of friendly cooperation
        was incredibly impressive.  It made me feel much more comfortable with
        joining the [Boston Ruby] community.</blockquote>

    <blockquote>All the leaders & TAs were so nice and approachable.  I'm always
      intimidated by these events and I felt very welcome.
    </blockquote>

    <blockquote>The people were AWESOME. The instructors were incredibly nice and I met
      some really, really cool people.
    </blockquote>

    <blockquote>The instructors and teaching assistants absolutely MADE this workshop.
      I have done similar tasks using online tutorials.  But the volunteer
      folks were so knowledgeable and so helpful; it really made all the
      difference.</blockquote>

    <blockquote>[I liked] the friendly and welcoming vibe of the group members and their clear
        love for Ruby.  I knew nothing coming in and loved that by the end I had
        a working app and a basic clear grasp of how to get there. </blockquote>


    <blockquote>I loved that there were so many teaching assistants and also that so
       much care was taken to make sure nobody fell behind in the exercises.
       The food was great as well!  Kudos to the organizers and volunteers for a job well-done.
    </blockquote>

    <blockquote>I really enjoyed it!  Thanks so much... I can tell a ton of hard work
        went into it.
    </blockquote>

    <blockquote>The workshop was run very efficiently. It provided an excellent mixture
        of hands-on learning with lectures on the underlying concepts.
    </blockquote>

    <blockquote>I loved the set-up of the class. The amount of material in each
        mini-lecture was just enough, and I loved that we were actually allowed
        to code a bit and learn from mistakes. The TAs I spoke with were all
        excellent and seemed very eager to help. Great job guys :-)
    </blockquote>

    <blockquote>Not intimidating or overwhelming, very inspiring
        and makes me fall in love with CS and programming all over again.
    </blockquote>


    <p>Given all the things that could have gone wrong, we were more than a little surprised at how well the workshop went! 
    But looking back, these seem to have been the most important ingredients for success:</p>

    <ol>
      <li>
        <p>
        <strong>Vibe.</strong> Our beginners felt comfortable, welcomed, and
        attended to. For this we credit the warm, friendly, and
        approachable teaching staff that we recruited. But it
        also helped a lot that the goal of Friday night was
        not just to get everyone through the installation tasks, but also to
        lighten the mood and allow people to socialize. Before kicking off the Friday night installfest, we
        had all the teaching assistants and then the representatives of the
        sponsors—over 20 people in total—line up in front of the classroom
        and introduce themselves one by one.  Inevitably there were funny
        self-introductions that made the room erupt in laughter: the ice was
        broken in short order. Then came an unhurried installfest where
        teaching assistants and students had plenty of opportunities to
        meet and chat.</p>
      </li>
      <li>
        <p>
        <strong>Advisors.</strong> We would have been lost without the guidance 
        we got from seasoned
        outreach organizers from both Boston Python and RailsBridge San Francisco. 
        <a href="http://web.mit.edu/jesstess/">Jessica McKellar</a> and <a href="http://www.asheesh.org">Asheesh Laroia</a>, 
        directors of <a href="https://openhatch.org">OpenHatch</a> and veterans of diversity
        outreach from the <a href="http://meetup.bostonpython.com">Boston Python</a> community, offered constant encouragement and gave
        us our basic game plan. <a href="http://www.maryfjenn.com/index.html">Mary Jenn</a>
        of 
        <a href="http://workshops.railsbridge.org/">RailsBridge San Francisco</a> 
        guided us through the trove of RailsBridge
        workshop resources and other tactical points through countless emails and phone
        conversations.</p>
      </li>
      <li>
        <p><strong>Curriculum.</strong>
        Organizing the event itself was a lot of work; so it helped a lot that
        we didn’t have to write the whole curriculum from scratch. We took the
        superb and well-vetted <a href="http://curriculum.railsbridge.org/curriculum/">RailsBridge curriculum</a> and focused on adding just a few of
        our own twists to it. Thanks primarily to the coding efforts of 
        <a href="https://github.com/brendankemp/">Brendan Kemp</a>, we embedded
        the RailsBridge curriculum into our own 
        <a href="https://github.com/brendankemp/railsbridge-boston">custom Sinatra web application</a>, updated the RailsBridge styling a bit with Twitter
        Bootstrap, and deployed it with <a href="http://www.heroku.com">Heroku</a> (who were also one of our sponsors).
        We also added extra credit sections and mini-lectures, which we will mention again below.
        </p>
      </li>
      <li>
        <p><strong>Student-Teacher Ratio.</strong>
        We had one teaching assistant for every 3.8 students. This was
        just enough to keep most of the teaching staff busy helping students as they
        encountered obstacles.</p>
      </li>
      <li>
        <p><strong>Pacing.</strong> By adding <a href="http://localhost:9292/curriculum/curriculum_toc">extra credit sections</a> to the
        curriculum and by having our teaching assistants scurry around
        to help every student who got stuck, we prevented quicker students
        from becoming bored and slower ones from being overwhelmed.
        We managed to keep everyone on roughly the same page throughout the day. 
        </p>
      </li>
      <li>
        <p><strong>Variety.</strong> We injected a bit of variety into the traditional
       RailsBridge curriculum with RailsBridge Boston’s own home-grown
       innovation: mini-lectures. 
       FILL IN WITH MORE
        </p>
      </li>
      <li>
        <p>
        <strong>Afterparty.</strong> 
        When the curriculum was completed, more than half of our workshop attendees came to the afterparty
        at <a href="http://www.cambridgecommonrestaurant.com/main.html">Cambridge Common</a>,
        where we relaxed and got to know one other better as people. 
        It helped that we had a generous amount of sponsor money earmarked for drinks and appetizers.
        The afterparty gave us all a chance to learn fascinating things about each other's background and aspirations,
        the attendees a chance to thank the teachers and organizers personally for the event, and the staff a chance 
        to kick back with some high-fives and well-earned drinks!
        
        </p>
      </li>
    </ol>

<p>
  THANK TEACHING ASSISTANTS
</p>
<p>
  THANK SPONSORS
</p>

<p>
  LINK GOOGLE GROUP FOR UPDATES
</p>


<p>
  TODO: Link to Carli Spina's blog post about the event.
</p>

  </div>

  <div class="span6 recap-images">
    <img src="/images/aug2012/michael_durrant.jpg"/>
    <img style="width:277px;margin-right:11px" src="/images/aug2012/amanda.jpg"/> <img style="width: 277px;" src="/images/aug2012/rebecca.jpg"/>
    <img src="/images/aug2012/anita.jpg"/>
    <img src="/images/aug2012/shana.jpg"/>
    <img src="/images/aug2012/matt.jpg"/>
    <img src="/images/aug2012/overhead.jpg"/>
    <img src="/images/aug2012/lineup.jpg"/>
    <img src="/images/aug2012/center.jpg"/>
    <img src="/images/aug2012/gary.jpg"/>
    <img src="/images/aug2012/classroom2.jpg"/>
    <p>Photos contributed by Rebecca Frankel and Braulio Carreno</p> 
  </div>
</div>

