<section id="recaps-page">
  <div class="page-header">
    <h1>Workshop Recaps</h1>
  </div>
  <div class="lead">
    <p class="text-center">
      Learn about how our previous workshops have gone!
    </p>
  </div>
  <div class="sponsor-images row">
    <div class="span12">
      <ul>
        <li><a href="/blog/2013_jun_recap">June 2013 @ NERD Center</a></li>
        <li><a href="/blog/2013_mar_recap">March 2013 @ MIT</a></li>
        <li><a href="/blog/2013_jan_recap">January 2013 @ intelligent.ly</a></li>
        <li><a href="/blog/2012_nov_recap">November 2012 @ MIT</a></li>
        <li><a href="/blog/2012_aug_recap">August 2012 @ Harvard Law School</a></li>
      </ul>
    </div>
  </div>
</section>
