<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="railsbridge-logo">
      <img src="/images/railsbridge-train-black.png" alt="RailsBridge Boston Logo with Train">
    </div>
  </div>
  <div class="row">
    <p class="lead span12">
      The <strong>RailsBridge Workshop</strong> is a <strong>free</strong> 1.5 day course that will help you
      learn how to create software with <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    </p>
  </div>
</header>

<section id="workshop">
  <div class="row">
    <div class="span6">
      <h2>Workshop at Intelligent.ly</h2>
      <p>Our next workshop is Friday, Jan 18th at Intelligent.ly! Details on the <a href="/workshop-info">workshop page</a>.</p>

      <h3>Empowering Women with Ruby</h3>
      <p>
        Do you dream of someday writing software applications that help people and improve the world?
      </p>
      <p>
        Led by an all-volunteer team of seasoned and enthusiastic Ruby and Ruby on Rails developers,
        the workshop is designed to provide women of all backgrounds with a solid introduction to concepts,
        tools, and techniques of Ruby and Rails development, as well as an
        entry point into the active and supportive Boston Ruby community.
      </p>

      <h3>Promoting Diversity</h3>
      <p>
        The Boston software scene needs more women. So this workshop is for women and their guests. To
        attend, you should identify as a woman, or be the male guest of a woman who is attending.
      </p>
      <p>
        We support mothers who want to code. We will provide childcare to those who need it. Please let us know if you want to
        use these services on the application form.
      </p>
      <p>
        The workshop is for people who do not have much or any experience programming with Ruby or Rails.
        But it will help if you are generally proficient with computers and know at least vaguely what a database and a web server are.
      </p>
      <h2>Workshop Recaps</h2>
      <ul>
        <li><a href="/blog/2012_nov_recap">November 2012 @ MIT</a></li>
        <li><a href="/blog/2012_aug_recap">August 2012 @ Harvard Law School</a></li>
      </ul>


      <h2>Contact</h2>
<ul>
<li>Follow us on Twitter: <a href="https://twitter.com/RailsBridgeBos">@RailsBridgeBos</a>.</li>
<li>Email us directly: <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>.</li>
<li>If you graduated from or volunteered at one of our workshops, join our <a href="https://groups.google.com/forum/?fromgroups#!forum/railsbridge-boston-alumni">RailsBridge Boston Alumni Google Group</a>.</li>
<li>Fork and improve our curriculum on <a href="https://github.com/railsbridge-boston/railsbridge-boston">GitHub</a>.</li>
</ul>



      <h2>Links</h2>
      <ul>
        <li><a href="http://workshops.railsbridge.org/">RailsBridge</a>: The original San Francisco Ruby on Rails workshop that made our effort possible.</li>
        <li><a href="https://openhatch.org">OpenHatch</a>: Our wonderful outreach effort mentors.</li>
        <li><a href="http://bostonrb.org">BostonRB</a>: The official local Ruby user group, and a wonderful community of helpful Rubyists.</li>
      </ul>

    </div>

    <div class="span6 column-of-images">

      <img src="/images/2012-nov/IMG_9813-sm.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/aug2012/michael_durrant.jpg"/>
      <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Rebecca Frankel"/>

    </div>
  </div>
</section>




