<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="railsbridge-logo">
      <img src="/images/railsbridge-train-black.png" alt="RailsBridge Boston Logo with Train">
    </div>
  </div>
  <div class="row">
    <p class="lead span12">
      The <strong>RailsBridge Workshop</strong> is a <strong>free</strong> 1.5 day course that will help you
      learn how to create software with <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    </p>
  </div>
</header>

<section id="workshop">
  <h2>Our Next Workshop</h2>

  <div class="row">
    <div class="span6">
      <h3>When</h3>
      <p>
        <strong>Friday, February 22nd</strong>, 7pm - 10pm<br/>
        <strong>Saturday, February 23rd</strong>, 10am - 5pm
      </p>
      <p>
        Pizza will be served on Friday night, coffee Saturday morning, and sandwiches for lunch on Saturday.
        We will also be organizing an afterparty mixer  at a local tavern after the end of the Saturday session.
      </p>

      <h3>Where</h3>
      <p>
        <address>
          <strong>MIT Stata Center</strong><br>
          Room 32-082<br>
          32 Vassar Street<br>
          Cambridge, MA 02139<br>
          <a href="http://goo.gl/maps/LLkPz">Google Map for MIT Stata Center</a><br/>
        </address>
      </p>
    </div>

    <div class="span6">
      <h3>Apply Here!</h3>
      <p>Sorry, we've tentatively filled our available spots.</p>
      <p>
        We should be holding another workshop in about 3 months!
        <a href="http://eepurl.com/vwrQT">Sign up here to be notified when we announce the next workhop</a>.
      </p>
      <p>
        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGdzbFUwb2NfY1pPenhGcGJ1MnBvdlE6MA" class="btn btn-large">TAs: Apply Here</a>
      </p>

      <div id="call-for-sponsors">
        <h3>Call for sponsors</h3>
        <p>
          We are looking for sponsors for our Feb 22-23 workshop at MIT! Please email
          <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>
          if you're interested! Sponsors are invited to attend our Friday night session and introduce themselves to the workshop.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>Sponsors</h2>
    </div>
    <div class="span3"><a href="http://actblue.com"><img src="/sponsors/actblue.png"/></a></div>
    <div class="span3"><a href="http://vermonster.com"><img src="/sponsors/vermonster-logo.png"/></a></div>
    <div class="span3"><a href="http://thoughtbot.com"><img src="/sponsors/thoughtbot.png"/></a></div>
    <div class="span3"><a href="http://www.huville-makerspace.com"><img src="/sponsors/huville-makerspace.png"/></a></div>
    <div class="span3"><a href="http://launchacademy.co"><img src="/sponsors/launch.png"/></a></div>
    <div class="span3" style="margin-top:40px"><a href="http://annkissam.com"><img src="/sponsors/AK.jpg"/></a></div>
    <div class="span3"><a href="http://pragprog.com/"><img src="/sponsors/prag.png"/></a></div>
    <div class="span3"><a href="http://iorahealth.com/"><img src="/sponsors/iora_health.png"/></a></div>
  </div>

  <div class="row">
    <div class="span12">
      <h2>About RailsBridge Boston</h2>
    </div>

    <div class="span6">
      <h3>Empowering Women with Ruby</h3>
      <p>
        Do you dream of someday writing software applications that help people and improve the world?
      </p>
      <p>
        Led by an all-volunteer team of seasoned and enthusiastic Ruby and Ruby on Rails developers,
        the workshop is designed to provide women of all backgrounds with a solid introduction to concepts,
        tools, and techniques of Ruby and Rails development, as well as an
        entry point into the active and supportive Boston Ruby community.
      </p>

      <h3>Promoting Diversity</h3>
      <p>
        The Boston software scene needs more women. So this workshop is for women and their guests. To
        attend, you should identify as a woman, or be the male guest of a woman who is attending.
      </p>
      <p>
        We support mothers who want to code. We will provide childcare to those who need it. Please let us know if you want to
        use these services on the application form.
      </p>
      <p>
        The workshop is for people who do not have much or any experience programming with Ruby or Rails.
        But it will help if you are generally proficient with computers and know at least vaguely what a database and a web server are.
      </p>

      <h2>Workshop Recaps</h2>
      <ul>
        <li><a href="/blog/2013_jan_recap">January 2013 @ intelligent.ly</a></li>
        <li><a href="/blog/2012_nov_recap">November 2012 @ MIT</a></li>
        <li><a href="/blog/2012_aug_recap">August 2012 @ Harvard Law School</a></li>
      </ul>

      <h2>Contact</h2>
      <ul>
        <li>Follow us on Twitter: <a href="https://twitter.com/RailsBridgeBos">@RailsBridgeBos</a>.</li>
        <li>Email us directly: <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>.</li>
        <li>If you graduated from or volunteered at one of our workshops, join our <a href="https://groups.google.com/forum/?fromgroups#!forum/railsbridge-boston-alumni">RailsBridge Boston Alumni Google Group</a>.</li>
        <li>Fork and improve our curriculum on <a href="https://github.com/railsbridge-boston/railsbridge-boston">GitHub</a>.</li>
      </ul>

      <h2>Links</h2>
      <ul>
        <li><a href="http://workshops.railsbridge.org/">RailsBridge</a>: The original San Francisco Ruby on Rails workshop that made our effort possible.</li>
        <li><a href="https://openhatch.org">OpenHatch</a>: Our wonderful outreach effort mentors.</li>
        <li><a href="http://bostonrb.org">BostonRB</a>: The official local Ruby user group, and a wonderful community of helpful Rubyists.</li>
      </ul>

    </div>

    <div class="span6 column-of-images">
      <img src="/images/jan_2013/students.jpg" title="Credit: Braulio Carreno"/>
      <img src="/images/2012-nov/IMG_9813-sm.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/aug2012/michael_durrant.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Braulio Carreno"/>
    </div>
  </div>
</section>




