
<section id="workshop">

  <div class="row">
    <div class="span6">
      <img style="width: 400px" src="/images/railsbridge-train-black.png" alt="RailsBridge Boston Logo with Train">

      <p>
        The <strong>RailsBridge Workshop</strong> is a free 1.5 day guided introduction to programming in  <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      </p>
      <p>
        Read <a href="http://railsbridgeboston.tumblr.com/tagged/recap">our workshop recaps</a> to see what our workshops are like.
      </p>

      <h3>Upcoming Workshop</h3>
      <div class="upcoming-workshop">
        <p>
          <strong>When:</strong> May 16 and 17, 2014
        </p>
        <p>
          <strong>Where:</strong> <a href="http://www.railsbridgeboston.org/workshop-info">Microsoft New England Research &amp; Development Center</a>
        </p>  
      <P>
      <a href="http://eepurl.com/vwrQT">Join the announcement list to be notified</a> when registration opens.
      </p>
      <p>
        Want to be a TA or an organizer? <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGdzbFUwb2NfY1pPenhGcGJ1MnBvdlE6MA">Apply here</a>.
      </p>
      </div>

    </div>

    <div class="span6">
      <iframe src="http://player.vimeo.com/video/70699061" width="100%" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <small class="pull-right">
        <a href="http://vimeo.com/70699061">RailsBridge Boston Video Teaser</a> from <a href="http://vimeo.com/railsbridgeboston">RailsBridge Boston</a> by <a href="http://www.a2vmedia.com/">A2V Media</a> on <a href="https://vimeo.com">Vimeo</a>.
      </small>
    </div>
  </div>
</section>
