
<header class="jumbotron subhead" id="pagenav">
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#about">About the Workshop</a></li>
      <li><a href="#instructors">Instructors</a></li>
      <li><a href="#sponsors">Sponsors</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</header>



<section id="about">
  <div class="page-header">
    <h1>About the Workshop</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span4">
      <h3>What is this?</h3>
      
      <p>
        Do you dream of someday writing software applications that help people
        and improve the world? 
      </p>

      <p>
        The <strong>Boston Ruby
        Workshop</strong> is a <strong>free</strong> 1.5 day course that will help you 
        start learning how to create that software with <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      </p>

      <p>
        Led by an all-volunteer team of seasoned and enthusiastic Ruby and Ruby on Rails developers,
        the workshop is designed to give a solid introduction to concepts,
        tools, and techniques of Ruby and Rails development, as well as an
        entry point into the amazingly active and supportive Boston Ruby
        community.
      </p>
    
    </div>

    <div class="span4">
      <h3>Who is this for?</h3>
      <p>
        The workshop is targeted at people who do not have much or any experience programming with Ruby or Rails. 
        But it will help if you are generally proficient with computers and know at least vaguely what a database and a web server are.
      </p>
      <p>
        The workshop is also for women and their guests. To attend, you should either be a woman or the guest of a woman who is going to attend.
      </p>

      <p>
        We will also provide free childcare for any attendee who needs it, using a professional childcare service. Please let us know if you want childcare service on the application form.
      </p>


    </div>

    <div class="span4">
      <h3>When</h3>
      <p>
        <strong>Friday, August 17</strong>, 7pm - 10pm
      </p>

      <p>
        <strong>Saturday, August 18</strong>, 10pm - 5pm
      </p>

      <br/>

      <h3>Where</h3>
      <address>
        <strong>Harvard Law School</strong><br>
        Wassertstein Building<br/>
        Rooms 1019 (Fri) and 2012 (Sat)<br/>
        6 Everett St<br>
        Cambridge, MA 02138<br>
      </address>

      <p>
        Food on Friday night and breakfast and lunch on Saturday will be provided thanks to our generous sponsors.
      </p>

    </div>

  </div>

</section>

<section id="instructors">
  <div class="page-header">
    <h1>Instructors</h1>
  </div>
  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span12">
      <p>
        <strong>Rebecca Nesson</strong> is the head instructor for tihs workshop. She is the lead developer at <a href="http://prx.org">Public Radio Exchange</a>, an award-winning public media company based in Harvard Square. A computer science Ph.D. from Harvard, Rebecca was the lead developer of the hit <a href="http://apps.prx.org/our-apps/this-american-life/">iOS application for This American Life</a>.
      </p>
      <p>
        <strong>Anita Patel</strong> is a teaching assistant. 
Anita is a Web Applications Developer at the <a href="http://cyber.law.harvard.edu/">Berkman Center for Internet
and Society at Harvard University</a> and holds a B.S in Computer Science
from Penn State University and an ALM in IT from Harvard Extension
School. She has been programming 12 years with the last 4 primarily
focused on Ruby and Rails. Anita has developed many projects for the
Berkman Center over the past 4 years and enjoys learning new skills to
produce useful applications.
      </p>
      <p>
        <strong>Liana Leahy</strong> is a teaching assistant. (More information forthcoming.)
      </p>
      <p>
        <strong>Amy Newell</strong> is a teaching assistant. (More information forthcoming.)
      </p>
      <p>
        <strong>Andrew Kukleweicz</strong> is a teaching assistant. (More information forthcoming.)
      </p>
      <p>
        <strong>Michael Durrant</strong> is a teaching assistant. (More information forthcoming.)
      </p>
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="page-header">
    <h1>Sponsors</h1>
  </div>
  <div class="row">

    <div class="span12">
      <p>
        <strong>thoughtbot</strong> is a Rails consultancy based on Boston.
      </p>
      <p>
        <strong>Wegowise</strong> 
      </p>
      <p>
        <strong>Devlabb</strong> 
      </p>
      <p>
        <strong>etc</strong> 
      </p>
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="page-header">
    <h1>Contact / More Information</h1>
  </div>
  <div class="row">
    <div class="span12">
      <p>
    
      </p>
    </div>
  </div>
</section>



