
<section id="workshop">

  <div class="row">
    <div class="span6">
      <img style="width: 400px" src="/images/railsbridge-train-black.png" alt="RailsBridge Boston Logo with Train">

      <p>
        The <strong>RailsBridge Workshop</strong> is a free 1.5 day guided introduction to programming in  <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      </p>
      <p>
        Our next workshop will be October 4 and 5, 2013. <a href="https://railsbridgebostonoct2013.eventbrite.com/">Register here.</a> 
      </p>
      <p>
        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGdzbFUwb2NfY1pPenhGcGJ1MnBvdlE6MA" class="btn btn-large">TAs and organizers: Apply here</a>
      </p>
      <p>
        Can't join us this time?  The next workshops will be held in January and May 2014. <a href="http://eepurl.com/vwrQT">Join the announcement list to be notified</a> when registration opens. 
      </p>
      
     
      <h2>About RailsBridge Boston</h2>

      <h3>Empowering Women with Ruby</h3>
      <p>
        Do you dream of someday writing software that helps people and improves the world?
      </p>
      <p>
        Led by an all-volunteer team of seasoned, enthusiastic Ruby and Rails developers, the workshop introduces women of all backgrounds  to the concepts, tools, and techniques of Ruby and Rails development. Our audience is those with no or little programming experience. 
      </p>
      <p>
        We welcome you to the Boston Ruby community. Whatever your goal is in learning to program, we hope to connect you with the tools to take the next step. 
      </p>
     
      <h3>Promoting Diversity</h3>
      <p>
        The Boston software scene needs more women. So this workshop is for women and their guests. You should identify as a woman, or be the male guest of a woman who is attending.
      </p>
      <p>
        We support mothers who want to code. We will provide childcare to those who need it. Please let us know if you want to
        use these services on the application form.
      </p>

      <h3>Donate!</h3>

      <p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="53VBLE6UWQLG8">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

      </p>

      <h2 style="clear:left; padding-top: 32px;">Workshop Recaps</h2>
      <ul>
        <li><a href="/blog/2013_jun_recap">June 2013 @ NERD Center</a></li>
        <li><a href="/blog/2013_mar_recap">March 2013 @ MIT</a></li>
        <li><a href="/blog/2013_jan_recap">January 2013 @ intelligent.ly</a></li>
        <li><a href="/blog/2012_nov_recap">November 2012 @ MIT</a></li>
        <li><a href="/blog/2012_aug_recap">August 2012 @ Harvard Law School</a></li>
      </ul>

      <h2>Contact</h2>
      <ul>
        <li>Follow us on Twitter: <a href="https://twitter.com/RailsBridgeBos">@RailsBridgeBos</a>.</li>
        <li>Email us directly: <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>.</li>
        <li>If you graduated from or volunteered at one of our workshops, join our <a href="https://groups.google.com/forum/?fromgroups#!forum/railsbridge-boston-alumni">RailsBridge Boston Alumni Google Group</a>.</li>
        <li>Tell us how we can improve our curriculum at <a href="https://github.com/railsbridge-boston/railsbridge-boston/issues">GitHub</a>.</li>
      </ul>

      <h2>Links</h2>
      <ul>
        <li><a href="http://workshops.railsbridge.org/">RailsBridge</a>: The original San Francisco Ruby on Rails workshop that made our effort possible.</li>
        <li><a href="https://openhatch.org">OpenHatch</a>: Our wonderful outreach effort mentors.</li>
        <li><a href="http://bostonrb.org">BostonRB</a>: The official local Ruby user group, and a wonderful community of helpful Rubyists.</li>
      </ul>

    </div>

    <div class="span6 column-of-images">
      <iframe src="http://player.vimeo.com/video/70699061" width="100%" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/70699061">RailsBridge Boston Video Teaser</a> from <a href="http://vimeo.com/railsbridgeboston">RailsBridge Boston</a> by <a href="http://www.a2vmedia.com/">A2V Media</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

      <hr/>

      <img src="/images/mar_2013/table1-r.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/2012-nov/IMG_9813-sm.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/aug2012/michael_durrant.jpg" title="Credit: Rebecca Frankel"/>
      <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Braulio Carreno"/>
    </div>
  </div>
</section>




