<header class="jumbotron subhead" id="overview">
  <h1>RailsBridge Boston</h1>
  <p class="lead">
    The <strong>RailsBridge Workshop</strong> is a <strong>free</strong> 1.5 day course that will help you
    learn how to create software with <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#workshop">Next Workshop!</a></li>
      <li><a href="#about">About RailsBridge Boston</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</header>

<section id="workshop">
  <div class="page-header">
    <h2>Next Workshop: November 9th and 10th!</h2>
  </div>
  <div class="row">
    <div class="span4">
      <h3>When</h3>
      <p>
        <strong>Friday, November 9th</strong>, 7pm - 10pm<br/>
        <strong>Saturday, November 10th</strong>, 10am - 5pm
      </p>
      <p>
        Pizza on will be served on Friday night, coffee Saturday morning, and sandwiches for lunch on Saturday.
        We will also be organizing a mixer at a local tavern after the end of the Saturday session.
      </p>
    </div>

    <div class="span4">
      <h3>Where</h3>
      <address>
        <strong>MIT Stata Center</strong><br>
        Room 32-044<br>
        32 Vassar Street<br>
        Cambridge, MA 02139<br>
        <a href="http://goo.gl/maps/LLkPz">Google Map for Stata Center</a><br/>
      </address>
    </div>

    <div class="span4">
      <h3>Apply!</h3>
      <p><a href="https://docs.google.com/spreadsheet/viewform?formkey=dFY3bjhDd2JMaXQ5bGw5U3M3YS0tUWc6MA" class="btn btn-success btn-large">Apply for the Workshop</a></p>
    </div>
  </div>
</section>

<section id="about">
  <div class="page-header">
    <h2>About RailsBridge Boston</h2>
  </div>

  <div class="row">
    <div class="span6 event-description">
      <h3>Empowering Women with Ruby</h3>
      <p>
        Do you dream of someday writing software applications that help people and improve the world?
      </p>
      <p>
        Led by an all-volunteer team of seasoned and enthusiastic Ruby and Ruby on Rails developers,
        the workshop is designed to provide women of all backgrounds with a solid introduction to concepts,
        tools, and techniques of Ruby and Rails development, as well as an
        entry point into the active and supportive Boston Ruby community.
      </p>
    </div>

    <div class="span6 event-description">
      <h3>Promoting Diversity</h3>
      <p>
        The Boston software scene needs more women. So this workshop is for women and their guests. To
        attend, you should either be a woman, identify as
        a woman, or be the male guest of a woman who is going to attend.
      </p>
      <p>
        We support mothers who want to code. We will provide free childcare for any attendee who needs it,
        using a professional childcare service. Please let us know if you want to
        use these services on the application form.
      </p>
      <p>
        The workshop is for people who do not have much or any experience programming with Ruby or Rails.
        But it will help if you are generally proficient with computers and know at least vaguely what a database and a web server are.
      </p>
    </div>
  </div>
</section>

<section id="news">
  <div class="page-header">
    <h1>News</h1>
  </div>

  <div class="event-description">
    <p>We completed our first workshop this August! Here is the report: <a href="/blog/2012_aug_recap">August 2012 Workshop Recap</a></p>
  </div>
</section>

<section id="contact">
  <div class="page-header">
    <h1>Contact / More Information</h1>
  </div>

  <div class="row">
    <div class="span6 event-description">
      <h3>Contact</h3>
      <p>
        Have questions about the workshop?  Email
        <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>
      </p>
    </div>

    <div class="span4">
      <div class="row" id="resources">
        <div class="span6 event-description">
          <h3>Resources</h3>
          <p>
            <a href="http://workshops.railsbridge.org/">RailsBridge</a><br>
            <a href="https://openhatch.org">OpenHatch</a><br>
            <a href="http://bostonrb.org">BostonRB</a><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
