<section id="workshop">

  <div class="row">
    <div class="span6">
      <img style="width: 400px" src="/images/railsbridge-train-black.png" alt="RailsBridge Boston Logo with Train">

      <h3>Upcoming Workshops</h3>
      <div id="upcoming-workshops">
        <div class="upcoming-workshop">
          <div class="workshop-title">Ruby and Rails - Part 1 - September 19 &amp; 20, 2014</div>

          <strong>At the </strong> <a href="http://www.railsbridgeboston.org/workshop-info">Microsoft New England Research &amp; Development Center</a>

          <p>
            This is our beginner workshop where you'll learn basic syntax in
            Ruby and how to write a small program. It is the prerequisite for
            our winter Rails workshop.
            <br/>
            <a href=<%= registration_url %>>Register >>></a>
          </p>
        </div>

        <div id="volunteer-signup">
          <p>Want to be a TA or an organizer? <a href=<%= registration_url %>>Apply here</a>.</p>
        </div>
    </div>
  </div>

    <div class="span6">
      <div id="about_railsbridge">
      <p>
        The <strong>RailsBridge Workshop</strong> is a free 1.5 day guided introduction to programming in  <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      </p>
      <p>
        Read <a href="http://railsbridgeboston.tumblr.com/tagged/recap">our workshop recaps</a> to see what our workshops are like.
      </p>
    </div>
      <iframe src="http://player.vimeo.com/video/70699061" width="100%" height="400" frameborder="1" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <small class="pull-right">
        <a href="http://vimeo.com/70699061">RailsBridge Boston Video Teaser</a> from <a href="http://vimeo.com/railsbridgeboston">RailsBridge Boston</a> by <a href="http://www.a2vmedia.com/">A2V Media</a> on <a href="https://vimeo.com">Vimeo</a>.
      </small>
    </div>
  </div>
</section>
