<header class="jumbotron subhead" id="overview">
  <h1>RailsBridge Boston</h1>
  <p class="lead">
    The <strong>RailsBridge Workshop</strong> is a <strong>free</strong> 1.5 day course that will help you
    learn how to create software with <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </p>
</header>

<section id="workshop">
  <div class="row">
    <div class="span6">
      <h3>When</h3>
      <p>
        <strong>Friday, November 9th</strong>, 7pm - 10pm<br/>
        <strong>Saturday, November 10th</strong>, 10am - 5pm
      </p>
      <p>
        Pizza will be served on Friday night, coffee Saturday morning, and sandwiches for lunch on Saturday.
        We will also be organizing an afterparty mixer  at a local tavern after the end of the Saturday session.
      </p>

      <br/>
      <h3>Where</h3>
      <p>
        <address>
          <strong>MIT Stata Center</strong><br>
          Room 32-044<br>
          32 Vassar Street<br>
          Cambridge, MA 02139<br>
          <a href="http://goo.gl/maps/LLkPz">Google Map for MIT Stata Center</a><br/>
        </address>
      </p>

      <p><a href="https://docs.google.com/spreadsheet/viewform?formkey=dFY3bjhDd2JMaXQ5bGw5U3M3YS0tUWc6MA" class="btn btn-success btn-large">Apply for the Waitlist</a></p>
      <hr/>
      <h2>About RailsBridge Boston</h2>
      <br/>
      <h3>Empowering Women with Ruby</h3>
      <p>
        Do you dream of someday writing software applications that help people and improve the world?
      </p>
      <p>
        Led by an all-volunteer team of seasoned and enthusiastic Ruby and Ruby on Rails developers,
        the workshop is designed to provide women of all backgrounds with a solid introduction to concepts,
        tools, and techniques of Ruby and Rails development, as well as an
        entry point into the active and supportive Boston Ruby community.
      </p>
      <br/>
      <h3>Promoting Diversity</h3>
      <p>
        The Boston software scene needs more women. So this workshop is for women and their guests. To
        attend, you should either be a woman, identify as
        a woman, or be the male guest of a woman who is going to attend.
      </p>
      <p>
        We support mothers who want to code. We will provide childcare to those who need it. Please let us know if you want to
        use these services on the application form.
      </p>
      <p>
        The workshop is for people who do not have much or any experience programming with Ruby or Rails.
        But it will help if you are generally proficient with computers and know at least vaguely what a database and a web server are.
      </p>
      <p>We completed our last workshop this August. Read our <a href="/blog/2012_aug_recap">August 2012 Workshop Recap</a>.</p>
    </div>

    <div class="span6 recap-images">
      <img src="/images/aug2012/michael_durrant.jpg"/>
      <img src="/images/aug2012/anita.jpg"/>
      <img src="/images/aug2012/gary.jpg"/>

    </div>
  </div>
</section>

<section id="sponsors">

  <div class="page-header">
    <h1>Sponsors</h1>
  </div>
  <div class="row">
    <div class="span12 ">
      <a href="http://actblue.com"><img src="/sponsors/actblue_logo_on_white.png"/></a>
      <a href="http://pragprog.com"><img src="/sponsors/prag.png"/></a>
      <a href="http://annkissam.com"><img src="/sponsors/annkissam.png"/></a>
      <a href="http://www.rbmtechnologies.com"><img src="/sponsors/rbm.png"/></a>
      <a href="http://thoughtbot.com"><img src="/sponsors/thoughtbot.png"/></a>
      <a href="http://patientslikeme.com"><img src="/sponsors/plm.jpg"/></a>
    </div>
  </div>

</section>

<section id="call-for-sponsors">
  <div class="page-header">
    <h1>Call for sponsors</h1>
  </div>
  <div class="row">
    <div class="span12 ">
      <p>
        We are looking for sponsors for our Nov 9-10
        workshop at MIT! Please email <a
        href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>
        if you're interested! Sponsors are invited to attend our Friday night session and introduce themselves to the workshop.
        </p>
    </div>
  </div>
</section>

<section id="contact">
  <div class="page-header">
      <h1>Links</h1>
  </div>
  <div class="row">
    <div class="span12 ">
      <ul>
        <li><a href="http://workshops.railsbridge.org/">RailsBridge</a>: The original San Francisco Ruby on Rails workshop that made our effort possible.</li>
        <li><a href="https://openhatch.org">OpenHatch</a>: Our wonderful outreach effort mentors.</li>
        <li><a href="http://bostonrb.org">BostonRB</a>: The official local Ruby user group, and a wonderful community of helpful Rubyists.</li>
      </p>
    </div>
  </div>
</section>
