
<section id="workshop">

  <div class="row">
    <div class="span6">
      <img style="width: 400px" src="/images/railsbridge-train-black.png" alt="RailsBridge Boston Logo with Train">

      <p>
        The <strong>RailsBridge Workshop</strong> is a free 1.5 day guided introduction to programming in  <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      </p>
      <p>
        Our next workshop will be January 24 and 25, 2014. We'll post a link to registration in January when it opens.  We recommend joining the <a href="http://eepurl.com/vwrQT"> announcement list</a> to be notified, as it fills quickly.

      </p>
      <p>
        <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGdzbFUwb2NfY1pPenhGcGJ1MnBvdlE6MA" class="btn btn-large">TAs and organizers: Apply here</a>
      </p>
      <p>
        Can't join us this time?  The next workshops will be held in May 2014. <a href="http://eepurl.com/vwrQT">Join the announcement list to be notified</a> when registration opens.
      </p>
    </div>

    <div class="span6">
      <iframe src="http://player.vimeo.com/video/70699061" width="100%" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/70699061">RailsBridge Boston Video Teaser</a> from <a href="http://vimeo.com/railsbridgeboston">RailsBridge Boston</a> by <a href="http://www.a2vmedia.com/">A2V Media</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>
</section>
