
<header class="jumbotron subhead" id="pagenav">
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#about">About the Workshop</a></li>
      <li><a href="#navbar">Your Teachers</a></li>
      <li><a href="#buttons">Apply to Attend</a></li>
      <li><a href="#forms">Contact</a></li>
    </ul>
  </div>
</header>



<section id="about">
  <div class="page-header">
    <h1>About the Workshop</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span4">
      <h3>What is this?</h3>
      
      <p>
        Do you dream of someday writing software applications that help people
        and improve the world? 
      </p>

      <p>
        The <strong>Boston Ruby
        Workshop</strong> is a free 1.5 day course that will help you 
        start learning how to create that software with <a href="http://ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      </p>

      <p>
        Led by an all-volunteer team of seasoned and enthusiastic Ruby and Ruby on Rails developers,
        the workshop is designed to give a solid introduction to concepts, tools, and techniques of Ruby and Rails development, as well as an entry point into the amazingly active and supportive Boston Ruby community.

      </p>
    
    </div>

    <div class="span4">
      <h3>Who is this for?</h3>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
    </div>

    <div class="span4">
      <h3>Example addresses</h3>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@gmail.com</a>
      </address>
    </div>

  </div>

</section>


