!!!
%html
  %head
    %title Boston.rb Weekend Workshop
    %link(rel="stylesheet" href="/screen.css" media="screen")/
  %body
    %header
      %h1
        %a(href="/") Boston.rb Weekend Workshop
    %section#container= yield
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
