!!!
%html
  %head
    %title Boston.rb Weekend Workshop
    %meta(name="description" content="The Boston Ruby workshop for women and their friends")/
    %meta(name="HandheldFriendly" content="True")/
    %meta(name="MobileOptimized" content="320")/
    /[if lt IE 9]
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")/
    %link(rel="stylesheet" href="/screen.css" media="screen")/

  %body
    %div.container
      %div(class="three columns sidebar")
        %header
          %img(src="/logo.png")
          %h1
            %a(href="/") Boston.rb Weekend Workshop
      %div(class="twelve columns offest-by-one content")
        = yield
      %footer

