<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Boston Ruby Workshop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Boston Ruby Workshop for Women and their Friends">
  <meta name="author" content="BostonRB">

  <link rel="icon" href="/favicon.ico">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap-responsive.css" rel="stylesheet">
  <link href="/docs.css" rel="stylesheet">
  <% if @markdown %><link href="/markdown.css" rel="stylesheet"><% end %>
</head>

<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">
   <div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="/">Boston Ruby Workshop</a>

         <div class="nav-collapse">
           <ul class="nav">
            <li><a href="/schedule">Schedule</a></li>
            <li <%= 'class="active"' if @section == :friday_night %>><a href="/friday">Friday Night</a></li>
            <li <%= 'class="active"' if @section == :curriculum %>><a href="/curriculum/curriculum_toc">Saturday</a></li>
            <li><a href="/parking">Parking</a></li>
            <li class="pull-right"><a href="http://bostonrb.org">BostonRB Homepage</a></li>
          </ul>
        </div>
       </div>
     </div>
   </div>

  <div class="container">
    <%= yield %>

    <footer class="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/bootswatch.js"></script>
</body>
</html>
