<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">RailsBridge Boston</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workshop Info<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/workshop-info">Info</a></li>
              <li><a href="/workshop-info#parking">Parking &amp; Bicycles</a></li>
              <li><a href="/workshop-info#event-notes">Event Notes</a></li>
              <li><a href="/workshop-info#schedule">Schedule</a></li>
              <li><a href="/workshop-info#organizers">Organizers</a></li>
              <li><a href="/workshop-info#instructors">Instructors</a></li>
              <li><a href="/workshop-info#civility-policy">Civility Policy</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Curriculum<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/pre_workshop">Before the workshop</a></li>
              <li><a href="/friday">Friday</a></li>
              <li><a href="/curriculum/curriculum_toc">Saturday</a></li>
            </ul>
          </li>

          <% if @curriculum %>
            <li class="curriculum-content dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Curriculum Contents<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/curriculum/curriculum_toc">Table of Contents</a></li>
                <li class='divider'></li>
                <li class='nav-header'>Introduction</li>
                  <li><a href="/curriculum/curriculum">Intro</a></li>
                <li>
                  <a href="/curriculum/ruby_language">Learning Ruby</a>
                  <ul class='dropdown-menu'>
                    <li class='nav-header'>Learning Ruby</li>
                    <li><a href="/curriculum/ruby_language">The Ruby Language</a></li>
                    <li><a href="/curriculum/tools">Tools to Help You Learn Ruby</a></li>
                    <li class='divider'></li>
                    <li><a href="/curriculum/extra_credit/01_more_ruby">Extra Credit: More Ruby Arrays</a></li>
                    <li><a href="/curriculum/extra_credit/06_ruby_classes">Extra Credit: Ruby Classes</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/curriculum/getting_started">Starting a New Rails Application</a>
                  <ul class='dropdown-menu'>
                    <li class='nav-header'>Starting a New Rails Application</li>
                    <li><a href="/curriculum/getting_started">Creating a Rails Application</a></li>
                    <li><a href="/curriculum/create_a_new_git_repo">Create a Git Repo</a></li>
                    <li><a href="/curriculum/add_the_project_to_the_git_repo">Add the Project Files</a></li>
                    <li><a href="/curriculum/running_your_application_locally">Run Your Application Locally</a></li>
                    <li><a href="/curriculum/deploy_to_heroku">Deploy to Heroku</a></li>
                  <li class='divider'></li>
                    <li><a href="/curriculum/extra_credit/02_git_branches">Extra Credit: Git Branches</a></li>
                    <li><a href="/curriculum/extra_credit/03_more_heroku">Extra Credit: More Heroku</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/curriculum/creating_a_migration">Models, Scaffolding, and Migrations</a>
                  <ul class='dropdown-menu'>
                    <li class='nav-header'>Models, Scaffolding, and Migrations</li>
                    <li><a href="/curriculum/creating_a_migration">Creating a Database Migration</a></li>
                    <li><a href="/curriculum/CRUD_with_scaffolding">CRUD with Scaffolding</a></li>
                    <li><a href="/curriculum/commit_and_push_to_heroku">Commit and Push to Heroku</a></li>
                  <li class='divider'></li>
                    <li><a href="/curriculum/extra_credit/04_console">Extra Credit: The Rails Console</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/curriculum/voting_on_topics">Model Associations and 'MVC'</a>
                  <ul class='dropdown-menu'>
                    <li class='nav-header'>Model Associations and 'MVC'</li>
                    <li><a href="/curriculum/voting_on_topics">Voting on Topics</a></li>
                    <li><a href="/curriculum/hooking_up_votes_and_topics">Hooking Up Votes and Topics</a></li>
                    <li><a href="/curriculum/allow_people_to_vote">Allow People to Vote</a></li>
                    <li><a href="/curriculum/commit_and_push_to_heroku_again">Commit and Push to Heroku</a></li>
                  <li class='divider'></li>
                    <li><a href="/curriculum/extra_credit/05_pagination">Extra Credit: Pagination</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/curriculum/setting_the_default_page">Rails Navigation, Links, and Routes</a>
                  <ul class='dropdown-menu'>
                    <li class='nav-header'>Rails Navigation, Links, and Routes</li>
                    <li><a href="/curriculum/setting_the_default_page">Setting the Default Page</a></li>
                    <li><a href="/curriculum/redirect_to_the_topics_list_after_creating_a_new_topic">Redirect to the Topics List</a></li>
                    <li><a href="/curriculum/make_the_topic_title_a_link">Make the Topic Title a Link</a></li>
                    <li><a href="/curriculum/clean_up_links_on_the_topics_list">Clean Up Links on the Topics List</a></li>
                    <li><a href="/curriculum/commit_and_push_to_heroku_yet_again">Commit and Push to Heroku Again</a></li>
                  </ul>
                </li>
                <li class='divider'></li>
                <li class='nav-header'>Wrapping Up</li>
                <li><a href="/curriculum/credits_and_next_steps">Credits</a></li>
              </ul>
            </li>
          <% end %>
          <li>
            <a href="/sponsors">Sponsors</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
