<section id="next-steps-page">
  <div class="page-header">
    <h1>Next Steps</h1>
  </div>

  <div class="row">
    <div class="span9">
      <p>What's the next step?  It depends on your goals, learning style, and timeframe.</p>

      <h2>Community</h2>
      <p><a href="https://groups.google.com/forum/#!forum/railsbridge-boston-alumni">Railsbridge Boston Alumni Google Group</a> is for all participants, TAs, and supporters of Railsbridge Boston. </p>
      <p><a href="http://bostonrb.org/">The Boston Ruby Group</a> organizes <a href="http://bostonrb.org/calendar">monthly presentations</a>  and <a href="http://bostonrb.org/project_night">project night</a>.  Project night always has a few volunteers available specifically to help others.
      </p>
      <p><a href="http://www.meetup.com/Boston-Ruby-Women/">Boston Ruby Women</a> is a monthly meetup for women who use Ruby.</p>
      <p>The Ruby community welcomes you.</p>

      <h2>Install Your Tools</h2>
      <p>It's customary to install Ruby on your own laptop, and we debated for a long time before using a virtual machine.  You can continue to use the RailsBridge virtual machine if you wish, but we encourage you to have your own set of tools.  <a href="https://www.ruby-lang.org/en/installation">The Ruby site offers several options on its installation page.</a></p>

      <h2>Learning Sequence</h2>
      <p>For a quick review of what we learned today, watch <a href="http://tutorials.jumpstartlab.com/projects/ruby_in_100_minutes.html">Ruby in 100 Minutes</a>.</p>
      <p>thoughtbot's <a href="https://learn.thoughtbot.com/ruby">Ruby Learning Trail</a> lays out skill milestones. </p>

      <p>Once you've got Ruby basics down, the best way to learn is to make a practice project. Projects take you off the smooth path of a tutorial and out into the exciting wildlands.  Pick a problem you care about. Start small and spiral out.</p>
      <p>Ruby on Rails is a web framework, that is, a set of libraries and tools to make a dynamic website. Come to the Railsbridge Rails workshop to learn more.  If you want to get started on your own,  thoughtbot's <a href="https://learn.thoughtbot.com/rails">Rails Learning Trail</a> maps out the route. </p>


      <h2>Tutorials</h2>
      <p>
        There's a wealth of tutorials and resources for learning Ruby and Rails.
        Here are the ones we recomend starting with.
        <UL>
          <LI>
            <a href="http://rubykoans.com">Ruby Koans</a> are a set of puzzles that "walk you along the path to enlightenment in order to learn Ruby. The goal is to learn the Ruby language, syntax, structure, and some common functions and libraries."
          </LI>
          <LI><a href="http://www.codewars.com/">Code Wars</a> is an online set of puzzles.</LI>
          <LI>
            <a href="http://pine.fm/LearnToProgram/">Learn to Program</a> by Chris Pine is a good starting place for new programmers.
          </LI>
          <LI>
            <a href="http://ruby-doc.com/docs/ProgrammingRuby/">Programming Ruby</a>, a.k.a. "the Pickaxe Book", is one of the most popular Ruby books.
          </LI>
          <LI>
            Why not find study buddies on <a href="https://groups.google.com/forum/#!forum/railsbridge-boston-alumni">the alumni group?</a>
          </LI>
        </UL>
      </p>

      <h2>Classes</h2>
      <p>
      </p>
      <UL>
        <LI>
          <a href="http://www.girldevelopit.com/chapters/boston">Girl Develop It</a> offers low-cost classes in programming and web design.
        </LI>
        <LI>Check community programs like the Cambridge Center for Adult Education.</LI>
      </UL>

      <h2>Bootcamps</h2>
      <p> Bootcamps are intensive full-time programs. There are several in our area.
        <UL>
        <LI><a href="http://thisismetis.com">Metis</a></LI>
        <LI><a href="https://generalassemb.ly/boston">General Assembly</a></LI>
        <LI><a href="http://www.launchacademy.com">Launch Academy</a></LI>
        <LI><a href="http://startupinstitute.com/boston">Startup Institute</a></LI>
      </UL>

      <H2>Online classes</H2>
      <UL>
        <LI><a href="http://pragmaticstudio.com/ruby">Pragmatic Programmers video series</a></LI>
        <LI><a href="http://learn.thoughtbot.com">thoughtbot Learn</a></LI>
      </UL>
      </p>

      <h2>Links</h2>
      <ul>
        <li><a href="http://workshops.railsbridge.org/">RailsBridge</a>: The original San Francisco Ruby on Rails workshop that made our effort possible.</li>
        <li><a href="https://openhatch.org">OpenHatch</a>: Our wonderful outreach effort mentors.</li>
      </ul>
    </div>
  </div> <!-- end row-->
</section>
