<section id="sponsors-page">
  <div class="page-header">
    <h1>Sponsors</h1>
  </div>
  <div class="lead">
    <p class="text-center">
      Interested in sponsoring the next RailsBridge Boston workshop? Contact us
      via <a href='mailto:rbbsponsorships@gmail.com'>email</a>.
    </p>
  </div>
  <div class="sponsor-images row">
    <div class="sponsor-category">
      <h3>May 2014 Workshop Sponsors</h3>
      <ul>
        <% @sponsors.each do |sponsor| %>
          <li><a href="<%= sponsor[0] %>"><img src="<%= sponsor[1] %>"></a></li>
        <% end %>
      </ul>
    </div>
    <div class="sponsor-category">
      <h3>After-Party Sponsor</h3>
      <a href="http://www.arcadiasolutions.com/"><img src="/sponsors/arcadia.png"/></a>
      <p>
        Founded in 2002 and headquartered outside Boston, with offices in New
        York, Seattle, and Nashville, Arcadia Healthcare Solutions is an
        innovative and nationally recognized leader in the healthcare technology
        and services industry. Arcadia provides services and technology for EHR
        Outsourcing and Consulting; Data Integration and Population Analytics; and
        Care Delivery Transformation and Coaching. With a focus on both healthcare
        provider and payer solutions, Arcadia has a unique cross-industry
        perspective on using data to drive healthcare transformation.
      </p>
    </div>
    <div class="sponsor-category">
      <h3>Venue Sponsor</h3>
      <a href="https://microsoft.com/"><img src="/sponsors/microsoftlogo.png"/></a>
      <p>
        Microsoft New England Research &amp; Development Center (NERD) is a
        world-renowned research and software development center and home to
        teams working on products and services like Microsoft Office 365 and
        Microsoft SQL. NERD also serves as a center of gravity for the local
        tech community, having hosted more than 1,000 events and welcomed
        more than 100,000 visitors since opening in 2008.
      </p>
    </div>
  </div>
</section>
