<section id="sponsors">
  <div class="page-header">
    <h1>Sponsors</h1>
  </div>
  <div class="row">
    <div class="span12 ">
      <a href="http://actblue.com"><img src="/sponsors/actblue_logo_on_white.png"/></a>
      <a href="http://pragprog.com"><img src="/sponsors/prag.png"/></a>
      <a href="http://oreilly.com"><img src="/sponsors/ora.gif"/></a>
      <a href="http://annkissam.com"><img src="/sponsors/annkissam.png"/></a>
      <a href="http://www.rbmtechnologies.com"><img src="/sponsors/rbm.png"/></a>
      <a href="http://thoughtbot.com"><img src="/sponsors/thoughtbot.png"/></a>
      <a href="http://patientslikeme.com"><img src="/sponsors/plm.jpg"/></a>
      <a href="http://vermonster.com"><img src="/sponsors/vermonster-logo.png"/></a>
      <a href="http://tapjoy.com"><img src="/sponsors/tapjoy_logo.png"/></a>
      <a href="http://brightcove.com"><img src="/sponsors/bc.gif"/></a>
      <a href="http://www.redhat.com"><img src="/sponsors/redhat.jpg"/></a>
      <a href="http://sipb.mit.edu/"><img src="/sponsors/sipb.gif"/></a>
    </div>
  </div>

</section>

