<section id="sponsors-page">
  <div class="page-header">
    <h1>Sponsors</h1>
  </div>
  <div class="row">
    <div class="span12">
        <a href="http://www.launchacademy.com/"><img src="/sponsors/LaunchAcademyLogo.png"/></a>

        <a href="http://railscasts.com"><img src="/sponsors/railscasts.png"/></a>
        <a href="http://www.a2vmedia.com"><img src="/sponsors/a2vmedia.png"/></a>
        <a href="http://actblue.com"><img src="/sponsors/actblue.png"/></a>
        <a href="http://oreilly.com"><img src="/sponsors/ora.gif"/></a>
        <a href="http://thoughtbot.com"><img src="/sponsors/thoughtbot.png"/></a>
        <a href="https://www.thelevelup.com"><img src="/sponsors/levelup.png"/></a>
        <a href="http://paypal.com"><img src="/sponsors/paypal_logo.gif"/></a>
        <a href="http://www.visiblemeasures.com"><img src="/sponsors/visible_measures.jpg"/></a>
        <a href="http://annkissam.com"><img src="/sponsors/annkissam.png"/></a>
        <a href="http://pragprog.com"><img src="/sponsors/prag.png"/></a>
    </div>
  </div>

</section>

