<div id="when" class="row">
  <div class="span6">
    <h2>Date &amp; Location</h2>
    <p>
      <strong>Friday, January 18thth</strong>, 7pm - 10pm<br/>
      <strong>Saturday, January 19th</strong>, 10am - 5pm
    </p>
    <address>
      <a href="http://www.intelligent.ly/">Intelligent.ly</a><br>
      500 Harrison Avenue 3R<br>
      Boston, MA 02118<br>
      <a href="http://goo.gl/maps/Ff5bk">Google Map for Intelligent.ly</a><br/>
    </address>
    <h3>Parking</h3>
    <p>
      There is a paid lot out front. There is also street parking, but unfortunately, students won't be able to leave and re-enter after the class begins, as the building will be locked.
    </p>
  </div>
  <div class="span6">
    <img style="margin-top:30px;" src="/images/stickers.jpg"/>

    <caption>
      Sticker designs by <a href="https://twitter.com/artimated">Martha Rettig</a>, a graduate of the RailsBridge Boston Aug 2012 workshop
    </caption>
  </div>
</div>


<div id="schedule" class="row">
  <div class="span12">
    <h2>Schedule</h2>
  </div>
</div>

<div class="row">

  <div class="span6">
    <h3>Friday Evening</h3>

    <style>
      td { font-size: 14px }
      td:first-child { width:7em; text-align:right}
    </style>

    <table class='table table-bordered table-striped'>
      <tr><td>7:00-7:15</td><td>Find a seat, connect to wifi</td></tr>
      <tr><td>7:15-7:45</td><td>Introduction to teaching staff, sponsors and group</td></tr>
      <tr><td>7:45-9:15</td><td>Installfest! Installing Ruby and Rails on every machine</td></tr>
      <tr><td>9:15-9:30</td><td>Command Line and Text Editor skills session (Durrant)</td></tr>
    </table>

    <h3>Saturday</h3>

    <table class='table table-bordered table-striped'>
      <tr><td>9:30-10:00</td><td>Get Settled</td></tr>
      <tr><td>10:00-10:30</td><td>Introductory Lecture</td></tr>
      <tr><td>10:30-10:45</td><td>Form workshop groups</td></tr>
      <tr><td>10:45-11:00</td><td>Intro to Ruby Programming Mini-Lecture</td></tr>
      <tr><td>11:00-11:30</td><td>Workshop Group Segment 1</td></tr>
      <tr><td>11:30-11:45</td><td>Getting Started with a Rails Application Mini-Lecture</td></tr>
      <tr><td>11:45-12:30</td><td>Workshop Group Segment 2</td></tr>
      <tr><td>12:30-1:30</td><td>Lunch</td></tr>
      <tr><td>1:30-1:45</td><td>Models, Scaffolding and Migrations Mini-Lecture</td></tr>
      <tr><td>1:45-2:30</td><td>Workshop Group Segment 3</td></tr>
      <tr><td>2:30-2:45</td><td>Associations and Model/View/Controller Mini-Lecture</td></tr>
      <tr><td>2:45-3:30</td><td>Workshop Group Segment 4</td></tr>
      <tr><td>3:30-3:45</td><td>Break (stand up!)</td></tr>
      <tr><td>3:45-4:00</td><td>Routes Mini-Lecture</td></tr>
      <tr><td>4:00-4:30</td><td>Workshop Group Segment 5</td></tr>
      <tr><td>4:30-4:45</td><td>Closing/Next Steps</td></tr>
      <tr><td>5:00-7:00</td><td>Afterparty at TBA</td></tr>
    </table>
  </div>

  <div class="span6">
    <h3>Event Notes</h3>

    <ul>
      <li>Please remember to bring your laptop and power cable. Also try to charge your laptop battery before you arrive Saturday in case you want to move around with your laptop.</li>
      <li>We will be taking some photos to document the event. We will respect your privacy and
      won&#39;t identify  any attendees (in captions, etc.) without consent. If
      you would not like to appear in any event pictures at all, please let one
      of the staff members know.</li>
      <li>If you want to tweet about the event, please put the words <a href="https://twitter.com/railsbridge">@railsbridge</a> and <span class='link-color'>Boston</span> in your tweet!</li>
    </ul>

  </div>
</div>

<div id="instructors" class="row">
  <div class="span12">
    <h2>Instructors</h2>
  </div>
</div>

<div class="row">
  <div class='span12'>
      <p>
        <strong>Liana Leahy</strong> is a software engineer with <a href="http://www.practicallygreen.com/">Practically Green</a> and LOVES her job!  A graduate of Smith College in Computer Science and Theatre, Liana has worked as a software and database developer while singing and dancing professionally in New York, Off-Broadway and National Tour.  She is now a mom of two toddlers and a professional Rubyist for the last 5 and a half years.
      </p>
      <p>
        <strong>Amy Newell</strong> attended her first <a href="http://bostonrb.org">Boston Ruby</a> Group meeting in early 2007,
        3-month-old daughter in tow. She has been working in Ruby ever since. She
        TA'd Harvard Extension School's Ruby and Rails class two years running, and
        presently codes at <a href="http://www.patientslikeme.com/">PatientsLikeMe</a>. She really doesn't read her Twitter feed
        much.
      </p>
      <p>
        <strong>Brendan Kemp</strong> has been building Rails apps for over 4 years. He got an early start teaching Ruby and Rails in a class he
        created for the UMass Amherst Experimental College. After fulfilling his ambition of working for a small startup
        in Hawaii, he returned to Massachusetts where he is Lead Developer at <a href="https://www.familyid.com/">FamilyID</a>.
      </p>
      <p>
        <strong>Braulio Carreno</strong> has been doing development most of his career. He came
        to the US in 98 hired by a .com startup and now works as a software
        engineer at <a href="http://actblue.com">ActBlue</a>. Braulio has 3 years of experience with Rails and
        has taught at college and adult education programs.
      </p>
      <p>
        <strong>Jiyeon Woo</strong> is currently a rails developer for <a href="http://www.annkissam.com">Annkissam</a>, where she's building financial management software in ruby on rails. She previously worked as an organic chemist in industry and academia and loves Arduino, Processing & other fun projects.
      </p>
      <p>
        <strong>Tracy Moscato</strong>: &ldquo;I am a recent workshop graduate. I've been teaching myself RoR for two months and I love it. I got a lot out of the workshop and I want to give something back. Teaching others is also a great way to learn.&rdquo;
      </p>
      <p>
        <strong>Dylan Cashman</strong> is a Rails developer at <a href="http://annkissam.com">Annkissam</a>, where he builds accessible systems to help with the operations of mission-driven organizations. He studied Math and English Literature in college, but thanks to the kindness and generosity of the open source community and the <a href="http://bostonrb.org">Boston Ruby Group</a> he has learned to become a confident programmer. He lives in Cambridge, works in Boston, is from New York, and pines constantly for a decent slice of pizza.
      </p>
      <p>
      <strong>Patrick Robertson</strong> is a Software Engineer at <a href="http://www.iorahealth.com/">Iora Health</a> and has been both building and evangelizing Ruby and Rails for over eight years. In his spare time he plays guitar and has begun hiking the White Mountains. He currently resides in Manchester, New Hampshire.
      </p>
      <p>
      <strong>Kate Daly</strong>: &ldquo;Attending a Python workshop in late 2011 gave me the confidence to write code. A year later Ruby on Rails gave me the right tool to become a web developer. I hold an MBA degree, have background in e-commerce and I&rsquo;m currently interning with Wellframe.&rdquo;
      </p>
      <p>
      <strong>Dan Luchi</strong> is a self taught Ruby on Rails convert of two years after spending a couple years doing everything the wrong way in C++. He just moved to Boston from San Francisco with a 3 month detour to South America. 
      </p>
      <p>
      <strong>Paul Morganthall</strong> is a teaching assistant. Paul got his start in computers at 16, playing TREK73 on the HP 2000C. Since then he&rsquo;s enjoyed mastering tons of other systems including VM/370, Lotus Notes, and Ruby on Rails. Currently the lead developer of <a href="http://alternativemedicineconnection.com">AlternativeMedicineConnection.com</a>, he lives in Watertown with his husband and the <a href="http://baxter.cerier.com">cutest golden retriever</a> in the world.
      </p>
      <p>
      <strong>Michael Denomy</strong> is a teaching assistant.  He originally developed software for medical devices and robotics but in the past year decided to become a web developer.  He is a big fan of test-driven-development and pair programming.  Michael is a Senior Developer with <a href="http://www.cyrusinnovation.com/">Cyrus Innovation</a>.
      </p>
      <p>
      <strong>Janet Riley</strong> is a freelance web applications programmer and an alumna of the August RailsBridge workshop.  A former Classics major, she knows Latin words like "alumna" and dreams of finding an etymology API for exploring words by their shared roots.
      </p>
  </div>
</div>

<%#= erb :sponsors %>

