<div id="when" class="row">
  <div class="span6">
    <h3>When</h3>
    <p>
      <strong>Friday, June 21 </strong> from 7:00pm-10:00pm and <br/>
      <strong>Saturday, June 22 </strong> from 9:00am - 5pm
    </p>
    <p>
      Breakfast and lunch will be served.
    </p>

    <h3>Where</h3>
    <p>
      <address>
        <strong>Microsoft NERD Center</strong><br>
        One Memorial Drive<br>
        Cambridge, MA 02142<br>
        <a href="http://microsoftcambridge.com/About/Directions/tabid/89/Default.aspx">Directions to the NERD Center</a>
      </address>
    </p>

    <h2>Event Notes</h2>

    <ul>
      <li>Every student must attend both sessions: Friday and Saturday</li>
      <li>Please remember to bring your laptop and power cable. Also try to charge your laptop battery before you arrive Saturday in case you want to move around with your laptop.</li>
      <li>We will be taking some photos to document the event. We will respect your privacy and
      won&#39;t identify  any attendees (in captions, etc.) without consent. If
      you would not like to appear in any event pictures at all, please let one
      of the staff members know.</li>
    </ul>
    <h2>Schedule</h2>
    <h3>Friday Evening</h3>
    <p>Food will be provided!</p>
    <style>
      td { font-size: 14px }
      td:first-child { width:7em; text-align:right}
    </style>

    <table class='table table-bordered table-striped'>
      <tr><td>7:00-7:15</td><td>Find a seat, connect to wifi, eat some pizza</td></tr>
      <tr><td>7:15-7:45</td><td>Introduction to teaching staff, sponsors and group</td></tr>
      <tr><td>7:45-9:15</td><td>Installfest! Installing Ruby and Rails on every machine</td></tr>
      <tr><td>9:15-9:30</td><td>Command Line and Text Editor skills session</td></tr>
    </table>

    <h3>Saturday</h3>
    <p>Breakfast and lunch will be provided!</p>

    <table class='table table-bordered table-striped'>
      <tr><td>9:30-10:00</td><td>Get Settled</td></tr>
      <tr><td>10:00-10:30</td><td>Introductory Lecture</td></tr>
      <tr><td>10:30-10:45</td><td>Form workshop groups</td></tr>
      <tr><td>10:45-11:00</td><td>Intro to Ruby Programming Mini-Lecture</td></tr>
      <tr><td>11:00-11:30</td><td>Workshop Group Segment 1</td></tr>
      <tr><td>11:30-11:45</td><td>Getting Started with a Rails Application Mini-Lecture</td></tr>
      <tr><td>11:45-12:30</td><td>Workshop Group Segment 2</td></tr>
      <tr><td>12:30-1:30</td><td>Lunch</td></tr>
      <tr><td>1:30-1:45</td><td>Models, Scaffolding and Migrations Mini-Lecture</td></tr>
      <tr><td>1:45-2:30</td><td>Workshop Group Segment 3</td></tr>
      <tr><td>2:30-2:45</td><td>Associations and Model/View/Controller Mini-Lecture</td></tr>
      <tr><td>2:45-3:30</td><td>Workshop Group Segment 4</td></tr>
      <tr><td>3:30-3:45</td><td>Break (stand up!)</td></tr>
      <tr><td>3:45-4:00</td><td>Routes Mini-Lecture</td></tr>
      <tr><td>4:00-4:30</td><td>Workshop Group Segment 5</td></tr>
      <tr><td>4:30-4:45</td><td>Closing/Next Steps</td></tr>
    </table>


  </div>
  <div class="span6">

    <div id="tweetStream">
    </div>

    <img style="margin-top:30px;" src="/images/stickers.jpg"/>
    <caption>
      Sticker designs by <a href="https://twitter.com/artimated">Martha Rettig</a>, a graduate of the RailsBridge Boston Aug 2012 workshop
    </caption>

  </div>
</div>

<% @instructors = load_instructors_from_yaml %>
<%= erb :"workshop_info/instructors" %>

<div id="civility-policy" class="row">
  <div class="span12">
    <h2>Civility Policy</h2>
  </div>
</div>

<div class="row">
  <div class='span12'>
    <p>
      RailsBridge Boston is dedicated to providing a harassment-free experience
      for everyone regardless of gender, sexual orientation, disability, physical
      appearance, body size, race, or religion.  We will not tolerate harassment
      of workshop participants in any form, be it verbal comments (said aloud or
      typed into a backchannel), imagery, deliberate intimidation, stalking,
      following, harassing photography or recording, sustained disruption of
      lectures, inappropriate physical contact, and unwelcome sexual attention.
    </p>
    <p>
      Workshop participants violating these rules may be sanctioned or expelled
      from the event at the discretion of the organizers.
    </p>
    <p>
      If you are being harassed, see someone else being harassed, or have any
      other concerns on-site please contact one of the workshop organizers or
      teaching assistants immediately.
    </p>
  </div>
</div>
