<div id="when" class="row">
  <div class="span6">
    <h2>Date &amp; Location</h2>
    <p>
      <strong>Friday, November 9th</strong>, 7pm - 10pm<br/>
      <strong>Saturday, November 10th</strong>, 10am - 5pm
    </p>
    <address>
      MIT Stata Center<br>
      Room 32-044<br>
      32 Vassar Street<br>
      Cambridge, MA 02139<br>
      <a href="http://goo.gl/maps/YX1Cm">Google Map for Stata Center</a><br/>
    </address>
    <p>Inside the Stata Center building, find the white stairwell in the middle of the ground floor 
    and go down one level. Room 044 is the first right after the glass doors to level B.
    </p>

    <h2 id="parking">Parking</h2>
    <p>"It is possible to find free legal parking in the Kendall Square area in the evening, often along Memorial Drive." (<a href="http://groups.drupal.org/node/3719">source</a>)</p>
    <p>Otherwise, there are metered spots on the street, and paid parking garages available nearby:</p>
    <ul>
      <li><a href="http://goo.gl/maps/QQJto">Technology Square Garage</a></li>
      <li><a href="http://goo.gl/maps/SXud2">Third Street Garage</a></li>
      <li><a href="http://goo.gl/maps/MMS2V">Bank of America Parking Lot</a></li>
    </ul>
  </div>
  <div class="span6">
    <img style="margin-top:30px;" src="/images/stickers.jpg"/>

    <caption>
      Sticker designs by <a href="https://twitter.com/artimated">Martha Rettig</a>, a graduate of the RailsBridge Boston Aug 2012 workshop
    </caption>
  </div>
</div>

<div class='row'>
  <div class="span12"> 
  </div>
</div>


<div class="row">
  <div class="span12">
    <h2>Schedule</h2>
  </div>
</div>

<div id="schedule" class="row">

  <div class="span6">
    <h3>Friday Evening</h3>

    <style>
      td { font-size: 14px }
      td:first-child { width:7em; text-align:right}
    </style>

    <table class='table table-bordered table-striped'>
      <tr><td>7:00-7:30</td><td>Introduction to teaching staff, sponsors and group</td></tr>
      <tr><td>7:30-10:00</td><td>Installfest! Installing Ruby and Rails on every machine, followed by a Command Line and Text Editor skills session</td></tr>
    </table>

    <h3>Saturday</h3>

    <table class='table table-bordered table-striped'>
      <tr><td>9:30-10:00</td><td>Coffee</td></tr>
      <tr><td>10:00-10:30</td><td>Introductory Lecture</td></tr>
      <tr><td>10:30-10:45</td><td>Form workshop groups</td></tr>
      <tr><td>10:45-11:00</td><td>Intro to Ruby Programming Mini-Lecture</td></tr>
      <tr><td>11:00-11:30</td><td>Workshop Group Segment 1</td></tr>
      <tr><td>11:30-11:45</td><td>Getting Started with a Rails Application Mini-Lecture</td></tr>
      <tr><td>11:45-12:30</td><td>Workshop Group Segment 2</td></tr>
      <tr><td>12:30-1:30</td><td>Lunch</td></tr>
      <tr><td>1:30-1:45</td><td>Models, Scaffolding and Migrations Mini-Lecture</td></tr>
      <tr><td>1:45-2:30</td><td>Workshop Group Segment 3</td></tr>
      <tr><td>2:30-2:45</td><td>Associations and Model/View/Controller Mini-Lecture</td></tr>
      <tr><td>2:45-3:30</td><td>Workshop Group Segment 4</td></tr>
      <tr><td>3:30-3:45</td><td>Routes Mini-Lecture</td></tr>
      <tr><td>3:45-4:30</td><td>Workshop Group Segment 5</td></tr>
      <tr><td>4:30-5:00</td><td>Closing/Next Steps</td></tr>
      <tr><td>5:00-7:00</td><td>Afterparty at TBA</td></tr>
    </table>
  </div>

  <div class="span6">
    <h3>Event Notes</h3>

    <ul>
    <li>Please remember to bring your laptop and power cable. Also try to charge your laptop battery before you arrive Saturday in case you want to move around with your laptop.</li>
    <li>We will be taking some photos to document the event. We will respect your privacy and
    won&#39;t identify  any attendees (in captions, etc.) without consent. If
    you would not like to appear in any event pictures at all, please let one
    of the staff members know.</li>
    </ul>

    <h3>MIT Stata Center (Building 32)</h3>

    <p>
    
<iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=214230502895826628026.0004cdecd98ffefe1a5d4&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;iwloc=0004cdecd9918c3fd7288&amp;ll=42.361747,-71.091435&amp;spn=0.013017,0.019891&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msid=214230502895826628026.0004cdecd98ffefe1a5d4&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;iwloc=0004cdecd9918c3fd7288&amp;ll=42.361747,-71.091435&amp;spn=0.013017,0.019891&amp;source=embed" style="color:#0000FF;text-align:left">MIT Computer Science and Artificial Intelligence Laboratory</a> in a larger map</small>
    </p>
    
  </div>
</div>

<div id="instructors" class="row">
  <div class="span12">
    <h2>Instructors</h2>
  </div>
</div>

<div class="row">
  <div class='span12'>
      <p>
        <strong>Rebecca Nesson</strong> is the lead developer at <a href="http://prx.org">Public Radio Exchange</a>, an award-winning public media company based in Harvard Square. A computer science Ph.D. from Harvard, Rebecca was the lead developer of the hit <a href="http://apps.prx.org/our-apps/this-american-life/">iOS application for This American Life</a>.
      </p>
      <p>
        <strong>Liana Leahy</strong> is a software engineer with <a href="http://www.practicallygreen.com/">Practically Green</a> and LOVES her job!  A graduate of Smith College in Computer Science and Theatre, Liana has worked as a software and database developer while singing and dancing professionally in New York, Off-Broadway and National Tour.  She is now a mom of two toddlers and a professional Rubyist for the last 5 and a half years.
      </p>
      <p>
        <strong>Amy Newell</strong> attended her first <a href="http://bostonrb.org">Boston Ruby</a> Group meeting in early 2007,
        3-month-old daughter in tow. She has been working in Ruby ever since. She
        TA'd Harvard Extension School's Ruby and Rails class two years running, and
        presently codes at <a href="http://www.patientslikeme.com/">PatientsLikeMe</a>. She really doesn't read her Twitter feed
        much.
      </p>
      <p>
        <strong>Andrew Kuklewicz</strong> is Tech Director at <a href="http://prx.org">Public Radio Exchange</a>. He's been a developer for 15 years, with 6 years of Rails experience.  He has a B.A.
        in Philosophy from Yale, is a pretty good tap dancer, and lives in Brookline with his wife and daughter.
      </p>
      <p>
        <strong>Brendan Kemp</strong> has been building Rails apps for over 4 years. He got an early start teaching Ruby and Rails in a class he
        created for the UMass Amherst Experimental College. After fulfilling his ambition of working for a small startup
        in Hawaii, he returned to Massachusetts where he is Lead Developer at <a href="https://www.familyid.com/">FamilyID</a>.
      </p>
      <p>
        <strong>Michael Durrant</strong> has programmed in many different languages and frameworks.  He devoted himself to Ruby on Rails full-time two years ago.  He's spent a lot of that time learning and using Rails, Ruby, Ubuntu, Git, Heroku, jQuery,,etc. and he's keen to share the knowledge and expertise he's gained along the way.  In former lives he's also worked extensively with DEC's VMS, 8 bit assembler and Oracle. Michael lives in Cambridge with his wife Siobhan and 2 cats.
      </p>
      <p>
        <strong>Rebecca Frankel</strong> a programming language junkie. She first programmed intensively, after studying math and physics in undergrad, in Scheme while working with the author of Structure and Interpretation of Computer Programs. This meant she was overjoyed when languages like Ruby and Coffeescript became popular, so language features she had come to rely on to express herself in code were available in the mainstream.
      </p>
      <p>
        <strong>Valentine Rogers</strong> loves to
        teach himself new programming languages. He is passionate about Rails as a tool to build things that can have an
        impact on people's lives. He is excited to be helping with the workshop.
      </p>
      <p>
        <strong>Patrick Robertson</strong> is a Software Engineer at <a href="http://www.iorahealth.com/">Iora Health</a> and has been both building and evangelizing Ruby and Rails for over eight years.  In his spare time he plays guitar and has begun hiking the White Mountains.  He currently resides in Manchester, New Hampshire.  
      </p>
      <p>
        <strong>Dan Pickett</strong> has been building Rails apps for over 6 years. He's Founder and Principal of
        <a href="http://launchware.com">LaunchWare, Inc.</a>, a web and mobile application development agency that loves to ship.
        Lately, his technical interests are around the mobile web and rich internet applications. Prior to starting
        LaunchWare, Dan was Director of Engineering at Gazelle.com. Dan lives in Bridgewater, MA with his wife
        Shannon and dog Linux.
      </p>
      <p>
        <strong>Manu Raghavan</strong> has been working with Rails for the past few years, and programming for many more.
      </p>
      <p>
        <strong>Jiyeon Woo</strong> is currently a rails developer for <a href="http://www.annkissam.com">Annkissam</a>, where she's building financial management software in ruby on rails. She previously worked as an organic chemist in industry and academia and loves Arduino, Processing & other fun projects.
      </p>
      <p>
        <strong>Tracy Moscato</strong>: &ldquo;I am a recent workshop graduate. I've been teaching myself RoR for two months and I love it. I got a lot out of the workshop and I want to give something back. Teaching others is also a great way to learn.&rdquo; 
      </p>
      <p>
        <strong>Lauren Pespisa</strong> started using Ruby on Rails in 2011 as a newbie web developer and has grown to love everything about it, especially the Boston Ruby community. A digital activist by night, she is passionate about the internet, especially using the internet as a tool empower people. She loves getting involved in various worthy causes, and helping more women join the tech community is a cause close to her heart. 
      </p>
      <p>
        <strong>Mary Johnson</strong>: &ldquo;I was an at home mom for 4 kids for 20 years, but now I am also a Quality Specialist at a small startup that develops custom web software for the clinical trial industry. I wear many hats including testing, QA, documentation, SOP development, training and - oh, yeah, still being a mom. I attended the Ruby workshop in August and had a fabulous time!! Since then, I was encouraged by another workshop attendee to take an online class that uses Ruby on Rails where I get the opportunity to learn more about it every day. The learning never stops - this is just the beginning...&rdquo;
      </p>
      <p>
        <strong>Allen Madsen</strong>: &ldquo;I'm the lead software engineer for <a href="http://gazelle.com">gazelle.com</a>'s marketing team. When I'm not working, I'm hacking on some open source project I've come up with. I've been doing Ruby for about 5 years and the love is still going strong.&rdquo;
      </p>
      <p>
        <strong>Pascal Rettig</strong> is the lead developer for <a href="http://cykod.com/">Cykod</a>. He graduated from MIT in 02' BS & MEng in CS/EE and had spent the previous 6 years working for or building various unsuccessful companies before joining his wife to start cykod. 
      </p>
      <p>
        <strong>Martha Rettig</strong> is the creative director for <a href="http://cykod.com">Cykod</a>. Since graduating with a BA in graphic design from Simmons College in '02. She spent her time on various advertising endeavors before joining Pascal to create cykod in '07.  
      </p>
      <p>
        <strong>Brandon Casci</strong> has worn many hats. His professional career started waaaay back as technical support for Microsoft products. This lead to application developer roles at various companies and consultancies, large and small. He's focused on entrepreneurship for the last 8 years and has bootstrapped two sustainable businesses. He's also spending some time with <a href="http://fuzz.com">fuzz.com</a> on two fronts, as an advisor and helping their CTO with grunt work.
      </p>
      <p>
        <strong>Chris Adams</strong>: &ldquo;I have an undergraduate degree in Sociology. Although, I took a couple of programming classes in college, almost everything I do professionally, as a Rails developer, I learned by hacking on stuff in bedrooms and coffee shops, for friends and non-profits. One day, I woke up and it was my grown-up job. That was 4 years ago.&rdquo; Chris works at <a href="http://actblue.com">ActBlue</a>.
      </p>
      <p>
        <strong>Brian Del Vecchio</strong>: &ldquo;After 10 years writing software for Internet infrastructure, I moved to the social web, trading in my C books and network packet sniffer for Ruby on Rails and JavaScript. Now I'm bringing the modern web toolchain to industrial controls and energy management, building the <a href="http://www.digitallumens.com/">Digital Lumens</a> Intelligent Lighting System.&rdquo;
      </p>
      <p>
        <strong>Clara Raubertas</strong> has been a Rubyist since 2007 and is currently a Rails developer with <a href="http://parallactic.com/">Parallactic Consulting</a>. She also plays the drums in local band <a href="http://themoralhazards.com/">The Moral Hazards</a>.
      </p>
      <p>
        <strong>Mike Breen</strong> is a freelance developer living just outside Boston.
      </p>
      <p>
        <strong>Peter Jaros</strong> has collaborated on Rails teams for the last 5 years, sharing his skills through pair programming and coaching. He spent 3 years at <a href="http://pivotallabs.com/">Pivotal Labs</a> in NYC. He's now focusing on fostering development skills in the community. He has also, on occasion, managed to play Black Hole Sun on the chromatic button accordion.
      </p>
      <p>
        <strong>Mauricio Linhares</strong> has experience programming in many different languages and jumped into the Rails wagon when the framework was at it's 1.2 incarnation, 5 years ago. Since them he has used Rails and Ruby to build web applications, backend systems, dev ops tools and scripts to simplify his daily life. Mauricio works for <a href="http://www.officedrop.com">OfficeDrop</a>.
      </p>
      <p>
        <strong>Chris Houhoulis</strong> worked for several years after college as a programmer, but then changed careers and worked in human services for several years. He transitioned back into programming in 2008, by starting to learn Ruby on Rails and attending boston.rb meetings. He's been employed doing Ruby on Rails since 2010. He's really happy these workshops are happening.
      </p>
      <p>
        <strong>Dylan Cashman</strong> is a Rails developer at <a href="http://annkissam.com">Annkissam</a>, where he builds accessible systems to help with the operations of mission-driven organizations. He studied Math and English Literature in college, but thanks to the kindness and generosity of the open source community and the <a href="http://bostonrb.org">Boston Ruby Group</a> he has learned to become a confident programmer. He lives in Cambridge, works in Boston, is from New York, and pines constantly for a decent slice of pizza.
      </p>
      <p>
        <strong>Jason Draper</strong> is a Ruby lover and all around geek. After working at Virginia Tech writing Rails code, he came to Boston to work as a developer with <a href="http://thoughtbot.com">thoughtbot</a>. Jason loves working with Ruby newcomers and helping others.
      </p>
      <p>
        <strong>Matt Griffin</strong> has been working professionally with Ruby and Rails for over five years. He is interested in high-scale systems and enjoys talking about the architecture of software and organizations. Matt is a veteran of several Boston startups and currently works as a Principal Engineer at <a href="http://tapjoy.com">Tapjoy</a>.
      </p>
      <p>
        <strong>Daniel Choi</strong> is an independent software developer. 
        The creator of <a href="http://instantwatcher.com">instantwatcher.com</a>, 
        <a href="http://openmbta.org">OpenMBTA</a>, 
        <a href="http://kindlefeeder.com">Kindlefeeder</a>, 
        Dan's Ruby software has been featured in 
         <a href="http://www.nytimes.com/2011/08/21/movies/homevideo/rarities-in-streaming-video-on-netflix-instant-and-hulu-plus.html">The New York Times</a>, 
        <a href="http://www.readwriteweb.com/hack/2011/01/gmail-for-vim-vmail.php">ReadWriteHack</a>, 
        <a href="http://thechangelog.com/post/2416116421/vmail-check-your-gmail-from-within-vim">The Changelog</a>, 
        <a href="http://lifehacker.com/5821661/hush-automatically-mutes-obnoxious-commercials-on-hulu">Lifehacker</a>, 
        <a href="http://mashable.com/2009/10/08/top-mashups/">Mashable</a>, 
        <a href="http://revision3.com/tekzilla/sewingmachine/better-netflix-streaming-instantwatcher-">Tekzilla</a>, 
        <a href="http://www.macworld.com/article/160936/2011/07/vitunes.html">Macworld</a>, 
        <a href="http://www.huffingtonpost.com/matt-sledge/hacking-the-kindle_b_805619.html">The Huffington Post</a>, 
        <a href="http://gigaom.com/video/netflix-tools-tips-tricks/">gigaom.com</a>, 
        and <a href="http://voices.washingtonpost.com/fasterforward/2011/03/postpoints_tip_quick_help_for.html">washingtonpost.com</a>.
        He likes to read and swim.
      </p>
      <p>
        <strong>Jon Cheng</strong> is a UI engineer for <a href="http://runkeeper.com">Runkeeper</a>, the mobile fitness app that makes tracking your workouts fun. After graduating from Harvard with a Psychology major and a Computer Science minor, he spent a year working as a project manager at <a href="http://wayfair.com/">Wayfair.com</a>. Jon switched his focus from project management and user experience to engineering six months ago and now specializes in bleeding edge web performance and responsive design for mobile platforms. As a front end specialist who wants to be able to get working apps running quickly, Jon loves the power that Rails gives users right from the start.
      </p>
  </div>
</div>

