<div id="when" class="row">
  <div class="span6">
    <h2>When</h2>
    <p>
      <strong>Friday, November 9th</strong>, 7pm - 10pm<br/>
      <strong>Saturday, November 10th</strong>, 10am - 5pm
    </p>
    <p>
      Pizza on will be served on Friday night, coffee Saturday morning, and sandwiches for lunch on Saturday.
      We will also be organizing a mixer at a local tavern after the end of the Saturday session.
    </p>
  </div>

  <div id="where" class="span6">
    <h2>Where</h2>
    <address>
      <strong>MIT Stata Center</strong><br>
      Room 32-044<br>
      32 Vassar Street<br>
      Cambridge, MA 02139<br>
      <a href="http://goo.gl/maps/LLkPz">Google Map for Stata Center</a><br/>
    </address>
  </div>
</div>

<div id="parking">
  <h2>Parking</h2>
  <p>"It is possible to find free legal parking in the Kendall Square area in the evening, often along Memorial Drive." (<a href="http://groups.drupal.org/node/3719">source</a>)</p>
  <p>Otherwise, there are metered spots on the street, and paid parking garages available nearby:</p>
  <ul>
    <li><a href="http://goo.gl/maps/QQJto">Technology Square Garage</a></li>
    <li><a href="http://goo.gl/maps/SXud2">Third Street Garage</a></li>
    <li><a href="http://goo.gl/maps/MMS2V">Bank of America Parking Lot</a></li>
  </ul>
</div>

<h2>Schedule</h2>
<div id="schedule" class="row">
  <div class="span6">
    <h3>Friday Evening</h3>

    <style>
      td { font-size: 14px }
      td:first-child { width:7em; text-align:right}
    </style>

    <table class='table table-bordered table-striped'>
      <tr><td>7:00-7:30</td><td>Introduction to teaching staff, sponsors and group</td></tr>
      <tr><td>7:30-10:00</td><td>Installfest! Installing Ruby and Rails on every machine, followed by a Command Line and Text Editor skills session</td></tr>
    </table>

    <h3>Saturday</h3>

    <table class='table table-bordered table-striped'>
      <tr><td>9:30-10:00</td><td>Coffee</td></tr>
      <tr><td>10:00-10:30</td><td>Introductory Lecture</td></tr>
      <tr><td>10:30-10:45</td><td>Form workshop groups</td></tr>
      <tr><td>10:45-11:00</td><td>Intro to Ruby Programming Mini-Lecture</td></tr>
      <tr><td>11:00-11:30</td><td>Workshop Group Segment 1</td></tr>
      <tr><td>11:30-11:45</td><td>Getting Started with a Rails Application Mini-Lecture</td></tr>
      <tr><td>11:45-12:30</td><td>Workshop Group Segment 2</td></tr>
      <tr><td>12:30-1:30</td><td>Lunch</td></tr>
      <tr><td>1:30-1:45</td><td>Models, Scaffolding and Migrations Mini-Lecture</td></tr>
      <tr><td>1:45-2:30</td><td>Workshop Group Segment 3</td></tr>
      <tr><td>2:30-2:45</td><td>Associations and Model/View/Controller Mini-Lecture</td></tr>
      <tr><td>2:45-3:30</td><td>Workshop Group Segment 4</td></tr>
      <tr><td>3:30-3:45</td><td>Routes Mini-Lecture</td></tr>
      <tr><td>3:45-4:30</td><td>Workshop Group Segment 5</td></tr>
      <tr><td>4:30-5:00</td><td>Closing/Next Steps</td></tr>
      <tr><td>5:00-7:00</td><td>Afterparty at TBA</td></tr>
    </table>
  </div>

  <div class="span6">
    <h3>Event Notes</h3>

    <ul>
    <li>Please remember to bring your laptop and power cable. Also try to charge your laptop battery before you arrive Saturday in case you want to move around with your laptop.</li>
    <li>Please feel free to tweet about this workshop to @railsbridge and @bostonrb (and with pictures too if you want). This will help us get the word out about these workshops.</li>
    <li>We will be taking some photos to document the event. We will respect your privacy and
    won&#39;t identify  any attendees (in captions, etc.) without consent. If
    you would not like to appear in any event pictures at all, please let one
    of the staff members know.</li>
    <li>Attendees get a drink on us at the afterparty! We&#39;ll hand out drink
    tickets.</li>
    </ul>

    <h3>MIT Stata Center (Building 32)</h3>

    <p><iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Stata+Center,+Vassar+Street,+Cambridge,+MA&amp;aq=0&amp;oq=Stata+Center&amp;sll=42.380897,-71.119394&amp;sspn=0.03877,0.038495&amp;gl=us&amp;ie=UTF8&amp;hq=Stata+Center,+Vassar+Street,+Cambridge,+MA&amp;hnear=&amp;radius=15000&amp;ll=42.362052,-71.090088&amp;spn=0.071946,0.071946&amp;t=m&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Stata+Center,+Vassar+Street,+Cambridge,+MA&amp;aq=0&amp;oq=Stata+Center&amp;sll=42.380897,-71.119394&amp;sspn=0.03877,0.038495&amp;gl=us&amp;ie=UTF8&amp;hq=Stata+Center,+Vassar+Street,+Cambridge,+MA&amp;hnear=&amp;radius=15000&amp;ll=42.362052,-71.090088&amp;spn=0.071946,0.071946&amp;t=m" style="color:#0000FF;text-align:left">Boston Ruby Workshop</a> in a larger map</small></p>
  </div>
</div>

