<div id="when" class="row">
  <div class="span6">
    <h2>Date &amp; Location</h2>
    <p>
      <strong>Friday, January 24</strong> from 7:00pm - 10:00pm and <br/>
      <strong>Saturday, January 25</strong> from 9:00am - 5:00pm
    </p>
    <p>
      Breakfast and lunch will be served.
    </p>

    <p>
      <address>
        <strong>Microsoft NERD Center</strong><br>
        Mann/Sampson/Paul room - 1st floor<br>
        One Memorial Drive<br>
        Cambridge, MA 02142<br>
        <a href="http://microsoftcambridge.com/About/Directions/tabid/89/Default.aspx">Walking and driving directions to the NERD Center</a>
      </address>
    </p>

    <h2 id="parking">Parking &amp; Bicycles</h2>
    <p>
      There is a parking garage in the same building. The cost is $27/day or $10 after 4:00pm.
      The <a href="http://microsoftcambridge.com/About/Directions/tabid/89/Default.aspx">directions to the NERD Center</a>
      include information how to access the parking garage.
    </p>
    <p>
      If you are riding your bicycle, there is a place within the garage where you can park your bike for free.
    </p>
    <p>
      There is also <a href='http://pilgrimparking.com/boston-parking-garages/kendall-square-south-garage.htm'>Pilgrim Parking</a>
      and <a href='http://boston.centralparking.com/Cambridge-77-Ames-Street-Parking.html'>Central Parking</a> nearby.
    </p>

    <h2 id='event-notes'>Event Notes</h2>

    <ul>
      <li>Every student must attend both sessions: Friday and Saturday</li>
      <li>Please remember to bring your laptop and power cable. Also try to charge your laptop battery before you arrive Saturday in case you want to move around with your laptop.</li>
      <li>We will be taking some photos to document the event. We will respect your privacy and
      won&#39;t identify  any attendees (in captions, etc.) without consent. If
      you would not like to appear in any event pictures at all, please let one
      of the staff members know.</li>
    </ul>

    <h2 id="schedule">Schedule</h2>
    <h3>Friday Evening</h3>
    <p>Food will be provided!</p>
    <style>
      td { font-size: 14px }
      td:first-child { width:7em; text-align:right}
    </style>

    <table class='table table-bordered table-striped'>
      <tr><td>7:00-7:15</td><td>Find a seat, connect to wifi, eat some pizza</td></tr>
      <tr><td>7:15-7:45</td><td>Introduction to teaching staff, sponsors and group</td></tr>
      <tr><td>7:45-8:15</td><td>Command Line and Text Editor mini-lecture</td></tr>
      <tr><td>8:15-9:30</td><td>Installfest &amp; mingle</td></tr>
    </table>

    <h3>Saturday</h3>
    <p>Breakfast and lunch will be provided!</p>

    <table class='table table-bordered table-striped'>
      <tr><td>9:30-10:00</td><td>Getting Settled & Introductions</td></tr>
      <tr><td>10:15-10:30</td><td>Mini-Lecture: Intro to Ruby Programming</td></tr>
      <tr><td>10:30-11:00</td><td>Workshop Group Segment 1</td></tr>
      <tr><td>11:00-11:15</td><td>Segment Recap</td></tr>
      <tr><td>11:15-11:30</td><td>Mini-Lecture: Getting Started with a Rails Application</td></tr>
      <tr><td>11:30-12:00</td><td>Workshop Group Segment 2</td></tr>
      <tr><td>12:00-12:15</td><td>Segment Recap</td></tr>
      <tr><td>12:15-1:15</td><td>LUNCH</td></tr>
      <tr><td>1:15-1:30</td><td>Mini-Lecture: Models, Scaffolding and Migrations</td></tr>
      <tr><td>1:30-2:00</td><td>Workshop Group Segment 3</td></tr>
      <tr><td>2:00-2:15</td><td>Segment Recap</td></tr>
      <tr><td>2:15-2:30</td><td>Mini-Lecture: Associations and Model/View/Controller</td></tr>
      <tr><td>2:30-3:00</td><td>Workshop Group Segment 4</td></tr>
      <tr><td>3:00-3:15</td><td>Segment Recap</td></tr>
      <tr><td>3:15-3:30</td><td>BREAK</td></tr>
      <tr><td>3:30-3:45</td><td>Mini-Lecture: Routes</td></tr>
      <tr><td>3:45-4:15</td><td>Workshop Group Segment 5</td></tr>
      <tr><td>4:15-4:30</td><td>Segment Recap</td></tr>
      <tr><td>4:30-4:45</td><td>Closing/Next Steps</td></tr>
    </table>


  </div>
  <div class="span6">

    <div id="tweetStream">
    </div>

    <img style="margin-top:30px;" src="/images/stickers.jpg"/>
    <caption>
      Sticker designs by <a href="https://twitter.com/artimated">Martha Rettig</a>, a graduate of the RailsBridge Boston Aug 2012 workshop
    </caption>

  </div>
</div>

    <h2 id="organizers">Organizers</h2>

<!-- copy from HTML source of https://github.com/railsbridge-boston/railsbridge-boston/wiki/Coordination-for-Oct-2013-Workshop#areas-of-responsibility -->
<ul>
<li>Leaders: <strong><a href="https://github.com/janetriley">Janet Riley</a></strong> and <strong><a href="https://github.com/mxie">Melissa Xie</a></strong>
</li>
<li>Admissions &amp; name tags: <strong><a href="https://github.com/joseepoirier">Josée Poirier</a></strong> and <strong>Maggie Xie</strong>
</li>
<li>
<a href="https://github.com/railsbridge-boston/railsbridge-boston/wiki/Task-Descriptions#sponsorships">Sponsors</a>: <strong><a href="https://github.com/mxie">Melissa Xie</a></strong>
</li>
<li>
<a href="https://github.com/railsbridge-boston/railsbridge-boston/wiki/Task-Descriptions#email-inquiries">Email inquiries</a>: <strong><a href="https://github.com/janetriley">Janet Riley</a></strong>
</li>
<li>RBB Twitter account: Chris Houhoulis</li>
<li>
<a href="https://github.com/railsbridge-boston/railsbridge-boston/wiki/Task-Descriptions#catering--afterparty--venue">Catering</a> &amp; Venue Coordinator: Lydia Damon</li>
<li>
<a href="https://github.com/railsbridge-boston/railsbridge-boston/wiki/Task-Descriptions#coordinating-childcare">Childcare arrangements</a>: Liana Leahy </li>
<li>MC: <strong><a href="https://github.com/mxie">Melissa Xie</a></strong>
</li>
<li>
<a href="https://github.com/railsbridge-boston/railsbridge-boston/wiki/Task-Descriptions#installfest">Installfest</a>: Daniel Choi, Paul Morganthall</li>
<li>
<a href="https://github.com/railsbridge-boston/railsbridge-boston/wiki/Task-Descriptions#teaching-staff-recruiter-and-coordinator">Teaching staff &amp; lecture coordination</a>: <strong><a href="https://github.com/alxjrvs">Alex Jarvis</a></strong>
</li>
<li>Photography: Rebecca Frankel</li>
<li>Curriculum: <strong><a href="https://github.com/joseepoirier">Josée Poirier</a></strong> tested on Mac, Paul Morganthall on Windows</li>
<li>EBooks: Daniel Choi</li>
</ul>

<% @instructors = load_instructors_from_yaml %>
<%= erb :"workshop_info/instructors" %>

<div id="civility-policy" class="row">
  <div class="span12">
    <h2>Civility Policy</h2>
  </div>
</div>

<div class="row">
  <div class='span12'>
    <p>
      RailsBridge Boston is dedicated to providing a harassment-free experience
      for everyone regardless of gender, sexual orientation, disability, physical
      appearance, body size, race, or religion.  We will not tolerate harassment
      of workshop participants in any form, be it verbal comments (said aloud or
      typed into a backchannel), imagery, deliberate intimidation, stalking,
      following, harassing photography or recording, sustained disruption of
      lectures, inappropriate physical contact, and unwelcome sexual attention.
    </p>
    <p>
      Workshop participants violating these rules may be sanctioned or expelled
      from the event at the discretion of the organizers.
    </p>
    <p>
      If you are being harassed, see someone else being harassed, or have any
      other concerns on-site please contact one of the workshop organizers or
      teaching assistants immediately.
    </p>
  </div>
</div>
