<div id="when" class="row">
  <div class="span6">
    <h2>Date &amp; Location</h2>
    <p>
      <strong>Friday, February 22nd</strong>, 7pm - 10pm<br/>
      <strong>Saturday, February 23rd</strong>, 10am - 5pm
    </p>
    <address>
      MIT Stata Center<br>
      Room 32-082<br>
      32 Vassar Street<br>
      Cambridge, MA 02139<br>
      <a href="http://goo.gl/maps/YX1Cm">Google Map for Stata Center</a><br/>
     </address>
    <p>
      Inside the Stata Center building, find the white stairwell in the middle of the ground floor
      and go down one level. Room 082 is there.
    </p>

    <h2>Red Line Advisory</h2>
    <p>
      <em>Update: Due to snowfall forecasts this weekend, this diversion between Harvard Square
      and Alewife Station on February 23-24 has been cancelled and will be rescheduled at a later date.</em>
      <br/>
      Buses will replace Red Line trains between Harvard and Alewife Stations on the weekend of February 23-24
      according to this <a href="http://www.mbta.com/rider_tools/transit_updates/?ttype=subway&route=Red+Line">MBTA advisory</a>
    </p>
    <h2 id="parking">Parking</h2>
    <p>
      Usually parking is available at the <a href="http://whereis.mit.edu/?selection=P5&Parking=go">Hayward Street lot</a>
    </p>
    <p>
      &ldquo;It is possible to find free legal parking in the Kendall Square area in the evening,
      often along Memorial Drive.&rdquo; (<a href="http://groups.drupal.org/node/3719">source</a>)
    </p>
    <p>
      Otherwise, there are metered spots on the street, and paid parking garages available nearby:
    </p>
    <ul>
      <li><a href="http://goo.gl/maps/QQJto">Technology Square Garage</a></li>
      <li><a href="http://goo.gl/maps/SXud2">Third Street Garage</a></li>
    </ul>
    </address>
  </div>
  <div class="span6">
    <h2>Live-Tweet to #railsbridge @RailsBridgeBos!</h2>
    <p>
      There will be 2 other RailsBridge workshops going on this weekend -- in Norfolk, VA and Burbank, CA!
      We've all agreed to pool our updates under the <a href="https://twitter.com/search?q=%23railsbridge&src=typd">#railsbridge</a> hashtag.
      Please also mention <a href="http://twitter.com/RailsBridgeBos">@RailsBridgeBos</a>. Pics in tweets welcome.
    </p>

    <div id="tweetStream">
    </div>
  </div>
</div>


<div id="schedule" class="row">
  <div class="span12">
    <h2>Schedule</h2>
  </div>
</div>

<div class="row">

  <div class="span6">
    <h3>Friday Evening</h3>
    <p>Food will be provided!</p>
    <style>
      td { font-size: 14px }
      td:first-child { width:7em; text-align:right}
    </style>

    <table class='table table-bordered table-striped'>
      <tr><td>7:00-7:15</td><td>Find a seat, connect to wifi, eat some pizza</td></tr>
      <tr><td>7:15-7:45</td><td>Introduction to teaching staff, sponsors and group</td></tr>
      <tr><td>7:45-9:15</td><td>Installfest! Installing Ruby and Rails on every machine</td></tr>
      <tr><td>9:15-9:30</td><td>Command Line and Text Editor skills session</td></tr>
    </table>

    <h3>Saturday</h3>
    <p>Breakfast and lunch will be provided!</p>

    <table class='table table-bordered table-striped'>
      <tr><td>9:30-10:00</td><td>Get Settled</td></tr>
      <tr><td>10:00-10:30</td><td>Introductory Lecture</td></tr>
      <tr><td>10:30-10:45</td><td>Form workshop groups</td></tr>
      <tr><td>10:45-11:00</td><td>Intro to Ruby Programming Mini-Lecture</td></tr>
      <tr><td>11:00-11:30</td><td>Workshop Group Segment 1</td></tr>
      <tr><td>11:30-11:45</td><td>Getting Started with a Rails Application Mini-Lecture</td></tr>
      <tr><td>11:45-12:30</td><td>Workshop Group Segment 2</td></tr>
      <tr><td>12:30-1:30</td><td>Lunch</td></tr>
      <tr><td>1:30-1:45</td><td>Models, Scaffolding and Migrations Mini-Lecture</td></tr>
      <tr><td>1:45-2:30</td><td>Workshop Group Segment 3</td></tr>
      <tr><td>2:30-2:45</td><td>Associations and Model/View/Controller Mini-Lecture</td></tr>
      <tr><td>2:45-3:30</td><td>Workshop Group Segment 4</td></tr>
      <tr><td>3:30-3:45</td><td>Break (stand up!)</td></tr>
      <tr><td>3:45-4:00</td><td>Routes Mini-Lecture</td></tr>
      <tr><td>4:00-4:30</td><td>Workshop Group Segment 5</td></tr>
      <tr><td>4:30-4:45</td><td>Closing/Next Steps</td></tr>
      <tr><td>5:00-7:00</td><td>Afterparty at TBA</td></tr>
    </table>
  </div>

  <div class="span6">
    <h3>Event Notes</h3>

    <ul>
      <li>Every student must attend both sessions: Friday and Saturday</li>
      <li>Please remember to bring your laptop and power cable. Also try to charge your laptop battery before you arrive Saturday in case you want to move around with your laptop.</li>
      <li>We will be taking some photos to document the event. We will respect your privacy and
      won&#39;t identify  any attendees (in captions, etc.) without consent. If
      you would not like to appear in any event pictures at all, please let one
      of the staff members know.</li>
    </ul>
    <img style="margin-top:30px;" src="/images/stickers.jpg"/>
    <caption>
      Sticker designs by <a href="https://twitter.com/artimated">Martha Rettig</a>, a graduate of the RailsBridge Boston Aug 2012 workshop
    </caption>


  </div>
</div>

<div id="instructors" class="row">
  <div class="span12">
    <h2>Instructors</h2>
  </div>
</div>

<div class="row">
  <div class='span12'>
      <p>
        <strong>Brendan Kemp</strong> has been building Rails apps for over 4 years. He got an early start teaching Ruby and Rails in a class he
        created for the UMass Amherst Experimental College. After fulfilling his ambition of working for a small startup
        in Hawaii, he returned to Massachusetts where he works at <a href="http://www.practicallygreen.com/">Practically Green</a>.
      </p>
      <p>
        <strong>Jiyeon Woo</strong> is currently a rails developer for <a href="http://www.annkissam.com">Annkissam</a>, where she's building financial management software in ruby on rails. She previously worked as an organic chemist in industry and academia and loves Arduino, Processing & other fun projects.
      </p>
      <p>
        <strong>Patrick Robertson</strong> is a Software Engineer at <a href="http://www.iorahealth.com/">Iora Health</a> and has been both building and evangelizing Ruby and Rails for over eight years. In his spare time he plays guitar and has begun hiking the White Mountains. He currently resides in Manchester, New Hampshire.
      </p>
      <p>
        <strong>Paul Morganthall</strong> got his start in computers at 16, playing TREK73 on the HP 2000C. Since then he&rsquo;s enjoyed mastering tons of other systems including VM/370, Lotus Notes, and Ruby on Rails. Currently the lead developer of <a href="http://alternativemedicineconnection.com">AlternativeMedicineConnection.com</a>, he lives in Watertown with his husband and the <a href="http://baxter.cerier.com">cutest golden retriever</a> in the world.
      </p>
      <p>
        <strong>Janet Riley</strong> is a freelance web applications programmer and an alumna of the August RailsBridge workshop.  A former Classics major, she knows Latin words like "alumna" and dreams of finding an etymology API for exploring words by their shared roots.
      </p>
      <p>
        <strong>Caleb Thompson</strong> is a developer at <a href="http://www.thoughtbot.com">thoughtbot</a>. Caleb has been a software engineer for four years, with experience in x86 Assembly, Java, C++, C#, and Ruby on Rails. He has braved the wintry tundra of Alaska and the harsh deserts of Arizona where he earned a Bachelor’s of Science degree in Software Engineering from the <a href="http://uat.edu">University of Advancing Technology</a>. He has fired a <a href="http://en.wikipedia.org/wiki/Mosin–Nagant">Mosin–Nagant</a> without blinking, fought the Red Menace, built <a href="https://github.com/calebthompson/battleship-couch">Battleship Couch</a>, and killed a bear and wore its pelt. He enjoys fine wines, craft beers, and punching&nbsp;comets.
      </p>
      <p>
        <strong>Jennifer Morton</strong> is a developer currently contracting with <a href="http://www.tripadvisor.com/">TripAdvisor</a>. She started out by getting an Industrial Engineering degree, then decided that computers were more fun than warehouses and started doing development work at Mailchimp. She just moved to Somerville in November from Atlanta and thinks Massachusetts is pretty awesome so
far.
      </p>
      <p>
        <strong>Dan Pickett</strong> is Co-Founder at <a href="http://launchacademy.co">Launch Academy</a>,
        a 10 week, intensive program transforming 25 eager learners into rising stars within the Boston web development
        community. We teach aspiring students everything it takes to become junior Rails developers here in Boston.
        Dan has been building web applications with Ruby on Rails since 2004, the year Rails was first publically released.
        He has a demonstrated passion for teaching and mentorring aspiring developers.
        He lives in Bridgewater, MA, with his wife, Shannon and dog, Linux.
      </p>
      <p>
        <strong>Bence Magyar</strong> has 9+ years of professional experience in software development,
        system architecture, and algorithm optimization. He is passionate about innovation, leveraging
        open source tools, and designing elegant software solutions to hard problems.  He has been
        developing Rails applications for the past two years.
      </p>
      <p>
        <strong>Allen Madsen</strong> is a developer at <a href="http://www.gazelle.com">Gazelle</a>. He's been working with ruby/rails for 7 years. In his free time, he enjoys kayaking white water and cooking paleo food.
      </p>
      <p>
        <strong>Michael Booth</strong> is an independent software
        developer who has been using Ruby since 2006. He originally
        took up web programming as a hobby while working on an
        entirely unrelated Ph.D. He lives in Arlington with his wife
        and his parrot.
      </p>
      <p>
        <strong>Jason Woodward</strong> is co-founder and CTO of <a href="http://recovend.com">RecoVend</a>, Inc, an early stage startup in Providence, RI working to make education more affordable for students and their families.  He's been a professional full-stack Web programmer since 1996 with C, Perl, Javascript, PHP, Python, and Ruby, in that order.  He holds a BS and MEng in Computer Science from Cornell University, and has been known to hack hardware now and again in his spare time.  He's active in the <a href="http://highedweb.org">HighEdWeb</a> organization as technical track co-chair, perennial workshop leader and general troublemaker.
      </p>
      <p>
        <strong>Jon Cheng</strong> is a front end developer, Rails aficionado, and entrepreneur
        working on apps for social change. He recently left his job at RunKeeper as a UI engineer
        to work on his startup ideas full time.  He was also previously a project manager and
        user experience specialist at Wayfair.com.
      </p>
      <p>
        <strong>Clara Raubertas</strong> has been coding in Ruby since 2007, and runs Ruby
        consulting firm <a href="http://parallactic.com/">Parallactic Consulting</a>. She lives
        in Cambridge with her husband, <a href="http://themoralhazards.com/">plays the drums</a>,
        and loves to read science fiction.
      </p>
      <p>
        <strong>Daniel Choi</strong> is an independent software developer.
        The creator of <a href="http://instantwatcher.com">instantwatcher.com</a>,
        <a href="http://openmbta.org">OpenMBTA</a>,
        <a href="http://kindlefeeder.com">Kindlefeeder</a>,
        Dan's Ruby software has been featured in
         <a href="http://www.nytimes.com/2011/08/21/movies/homevideo/rarities-in-streaming-video-on-netflix-instant-and-hulu-plus.html">The New York Times</a>,
        <a href="http://www.readwriteweb.com/hack/2011/01/gmail-for-vim-vmail.php">ReadWriteHack</a>,
        <a href="http://thechangelog.com/post/2416116421/vmail-check-your-gmail-from-within-vim">The Changelog</a>,
        <a href="http://lifehacker.com/5821661/hush-automatically-mutes-obnoxious-commercials-on-hulu">Lifehacker</a>,
        <a href="http://mashable.com/2009/10/08/top-mashups/">Mashable</a>,
        <a href="http://revision3.com/tekzilla/sewingmachine/better-netflix-streaming-instantwatcher-">Tekzilla</a>,
        <a href="http://www.macworld.com/article/160936/2011/07/vitunes.html">Macworld</a>,
        <a href="http://www.huffingtonpost.com/matt-sledge/hacking-the-kindle_b_805619.html">The Huffington Post</a>,
        <a href="http://gigaom.com/video/netflix-tools-tips-tricks/">gigaom.com</a>,
        and <a href="http://voices.washingtonpost.com/fasterforward/2011/03/postpoints_tip_quick_help_for.html">washingtonpost.com</a>.
      </p>
  </div>
</div>
