body {
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h1 { font-size: 30px; }
h2 { font-size: 22px; }

#lesson-format {
  padding: 0em 2em 1em 2em;
  border: 1px solid #CCC; 
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
