<div class="row">
  <div class="span12">
    <h2>Thank you!</h2>
    <p>Seriously, we can't say it enough - without the help of our TAs, this workshop would not exist. We appreciate each and every one of you.</p>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>General Information</h2>
    <p>This page will be a living guide of anything you should know about how to help out and be an awesome TA for RailsBridge. If you notice anything missing please feel free to send us an email at <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a> or just put in a <a href="http://github.com/railsbridge-boston/railsbridge-boston">pull request!</a></p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Arrival Times</h2>
    <p>We ask that TAs arrive 30 minutes prior to the workshop on Friday night and Saturday morning. This gives us plenty of time to introduce ourselves and get situated before the attendeees arrive.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>What to expect</h2>
    <p>An awesome time! RailsBridge is a great chance to reach out to a new group of people and show them how amazing our community is. You will meet and speak with people from all walks of life and backgrounds. The main thing is listen and help in anyway you can. You will not always know the answer and that is OK! Feel free to say you don't know and ask another TA or even Google the answer!</p>
    <p>It is highly recommended that if you have not been to a RailsBridge workshop before, then you should read over the curriculum ahead of time so that you have a general understanding of what the students will be doing. Your primary responsibility as a TA is to help the students along as they get stuck so knowing where they were heading is really helpful.</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Extending the Learning</h2>
    <p>One thing that comes up is that some students get very bored with just going through the tutorial. The best way for us to alleviate this is to extend their learning with some in person conversations. As people finish up their sections, take the opportunity to help extend their learning and teach them some extra things about what they just learned. Do not try and pressure them but if they seem to be enjoying what they're doing and want to learn more, add in your own experiences into learning!</p>
    <h3>Leading Topics for Extended Learning</h3>
    <ul>
      <li>"You just set your scaffold for the topics controller, why don't we look at what that created and talk about it?"</li>
      <li>"We just used a has_many and belongs_to association. Let's talk about some other things that may use that same type of relation."</li>
      <li>"We allowed people to vote, but now anyone can vote twice. How might we prevent that from happening?"</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Keep Helping!</h2>
    <p>Undoubtedly while you are going through the curriculum this weekend you find errors or places that could be improved. Please let us know! Feel free to put in a GitHub issue, Pull Request or just send us an email. The best way for us to help our students is to continually improve the curriculum and our TAs are the front line for that knowledge.</p>
  </div>
</div>

