<div id="instructors" class="row">
  <div class="span12">
    <h2>Instructors</h2>
  </div>
</div>

<div class="row">
  <div class='span12'>
    <% @instructors.each do |instructor|%>
      <p>
        <strong><%= instructor[0] %></strong> <%= instructor[1] %>
      </p>
    <% end %>
  </div>
</div>
