<div class="recap row">
  <div class="span12">
    <h1>Our second RailsBridge Boston workshop</h1>
    <h3>November 2012 @ MIT Stata Center</h3>
    <p><em>by Andrew Kuklewicz, Daniel Choi, Braulio Carreno, Brendan Kemp (TBD)</em></p>
  </div>
  <div class="span6">
    <%= markdown(:'blog/2012_nov_recap_text') %>
  </div>
  <div class="span6 recap-images">
    <img src="/images/2012-nov/IMG_9813.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/IMG_0088.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Braulio Carreno"/>

    <img class="with-caption" src="/images/2012-nov/IMG_9786.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The TAs get ready to rumble</div>

    <img class="with-caption" src="/images/2012-nov/IMG_9797.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The TAs introduce themselves</div>


    <img class="with-caption" src="/images/2012-nov/IMG_9799.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The welcome desk, on which we serve name tags</div>
    
    <!-- TODO some vertical pics from Rebecca's set, merged into doubles -->

    <img class="with-caption" src="/images/stickers.jpg"/>
    <div class="img-caption">Our new logo and stickers, thanks to Martha Rettig</div>

    <img class="with-caption" src="/images/2012-nov/progress-tracker.jpg"/>
    <div class="img-caption">Our curriculum progress tracker</div>

    <img class="with-caption" src="/images/2012-nov/beer.png"/>
    <div class="img-caption">We used Suggestotron as our afterparty beer tower poll app</div>

  </div>

</div>
