<div class="recap row">
  <div class="span12">
    <h1>Our second RailsBridge Boston workshop</h1>
    <h3>November 2012 @ MIT Stata Center</h3>
    <p><em>by Andrew Kuklewicz, Daniel Choi, Braulio Carreno, Brendan Kemp (TBD)</em></p>
  </div>
  <div class="span6 recapContent">
    <%= markdown(:'blog/2012_nov_recap_text') %>
  </div>
  <div class="span6 recap-images">
    <img src="/images/2012-nov/IMG_9813-sm.jpg" title="Credit: Rebecca Frankel"/>

    <img src="/images/2012-nov/tall1.jpg" title="Credit: Rebecca Frankel"/>

    <img src="/images/2012-nov/IMG_0088-sm.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Braulio Carreno"/>

    <img class="with-caption" src="/images/2012-nov/IMG_9786-sm.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The TAs get ready to rumble</div>



    <img class="with-caption" src="/images/stickers.jpg"/>
    <div class="img-caption">Our new logo and stickers, thanks to Martha Rettig</div>

    <img class="with-caption" src="/images/2012-nov/progress-tracker.jpg" title="Credit: Peter Jaros"/>
    <div class="img-caption">Our curriculum progress tracker</div>

    <img class="with-caption" src="/images/2012-nov/beer.png"/>
    <div class="img-caption">We used Suggestotron as our afterparty beer tower poll app</div>

    <img src="/images/2012-nov/tall3.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/draper.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/tall2.jpg" title="Credit: Rebecca Frankel"/>


    <img class="with-caption" src="/images/2012-nov/IMG_9799-sm.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The welcome desk, on which we serve name tags</div>
    
    <img class="with-caption" src="/images/2012-nov/IMG_9797-sm.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The TAs introduce themselves</div>

    <div id='sponsors'>  
      <a href="http://actblue.com"><img src="/sponsors/actblue_logo_on_white.png"/></a>
      <a href="http://pragprog.com"><img src="/sponsors/prag.png"/></a>
      <a href="http://oreilly.com"><img src="/sponsors/ora.gif"/></a>
      <a href="http://annkissam.com"><img src="/sponsors/annkissam.png"/></a>
      <a href="http://www.rbmtechnologies.com"><img src="/sponsors/rbm.png"/></a>
      <a href="http://thoughtbot.com"><img src="/sponsors/thoughtbot.png"/></a>
      <a href="http://patientslikeme.com"><img src="/sponsors/plm.jpg"/></a>
      <a href="http://vermonster.com"><img src="/sponsors/vermonster-logo.png"/></a>
      <a href="http://tapjoy.com"><img src="/sponsors/tapjoy_logo.png"/></a>
      <a href="http://brightcove.com"><img src="/sponsors/bc.gif"/></a>
      <a href="http://www.redhat.com"><img src="/sponsors/redhat.jpg"/></a>
      <a href="http://sipb.mit.edu/"><img src="/sponsors/sipb.gif"/></a>
    </div>
    <div class="img-caption">Our truly awesome sponsors</div>

  </div>

</section>

  </div>

</div>
