<div class="recap row">
  <div class="span12">
    <h1>Our second RailsBridge Boston workshop</h1>
    <h3>November 2012 @ MIT Stata Center</h3>
    <p><em>by Andrew Kuklewicz, Daniel Choi, Braulio Carreno, Brendan Kemp (TBD)</em></p>
  </div>
  <div class="span6">
    <%= markdown(:'blog/2012_nov_recap_text') %>
  </div>
  <div class="span6 recap-images">
    <img src="/images/2012-nov/IMG_9813.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/IMG_0088.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Braulio Carreno"/>
    <img src="/images/2012-nov/IMG_9786.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/IMG_9797.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/IMG_9799.jpg" title="Credit: Rebecca Frankel"/>
    
    <!-- TODO some vertical pics from Rebecca's set, merged into doubles -->

    <img src="/images/stickers.jpg"/>Our new logo and sticker, thanks to Martha Rettig

    <img src="/images/2012-nov/progress-tracker.jpg"/>Our progress tracker

    <img src="/images/2012-nov/beer.png"/>Suggestotron Beer Voting with Beer Cat

    <p>Photos contributed by Braulio Carreno and Rebecca Frankel</p> 
  </div>

</div>
