<div class="recap row">
  <div class="span12">
    <h1>Our second workshop</h1>
    <h3>November  2012 RailsBridge Workshop Recap</h3>
    <p><em>by Andrew Kuklewicz, Daniel Choi, Braulio Carreno, Brendan Kemp</em></p>
  </div>
  <div class="span6">

    <p>On Friday and Saturday, November 9-10, a group of volunteers from the Boston Ruby community ran a free
    two-day introductory Ruby and Rails workshop for women and their friends.
    (Women were automatically allowed to apply for a spot, while men were allowed to apply if 
    they knew a woman who was going to attend.)
    Sixty beginners, ?? of them women, attended the workshop at the MIT
    Stata Center in Cambridge, Massachusetts. A team of 25 experienced Ruby programmers
    assisted them through software installation, lectures and exercises.
    Students who had never written a line of code struggled for the first time
    with the command line, text editors, Git, the HTTP protocol, irb, and Heroku. By 4:30pm on
    Saturday, every student left the workshop with all the tools and concepts needed to write and deploy
    Rails applications.</p>

    <p>We also provided everyone three catered meals, free <a href="http://pragprog.com">PragProg</a> 
    and <a href="http://oreilly.com">O’Reilly</a> e-books, and free drinks and appetizers at the afterparty.  
    </p>

    <p>This was our second workshop in three months. Please read our <a
    href="/blog/2012_aug_recap">recap of the first workshop</a>
    this past August at Harvard Law School to find out about what inspired us to organize
    RailsBridge Boston workshops.
    </p>

    <p>Based on our exit survey and direct
    feedback, the students found the workshop a well-organized, well-paced, effective, accessible,
    fun, friendly, and inspiring introduction to web application development
    with Ruby and Rails.  
    Here are some of the results we got in our exit survey, which had about a 70% response rate. First, the overall rating distribution:</p>

    <div class="survey">
      IMAGE HERE
    </div>

    <p>And here is a sampling of the general feedback:</p>

    <blockquote>Feedback here</blockquote>

    <p>We want to extend our thanks to our awesome volunteer teaching staff:

    TODO

    </p>

    <p>We also thank our incredible sponsors for supporting our mission and making this workshop possible:

    MUST UPDATE
    <a href="http://oreilly.com/">O'Reilly</a>,
    <a href="http://pragprog.com/">The Pragmatic Bookshelf</a>,
    <a href="http://cyber.law.harvard.edu/">The Berkman Center for Internet and Society at Harvard University</a>,
    <a href="http://prx.org/">Public Radio Exchange (PRX)</a>,
    <a href="http://thoughtbot.com/">thoughtbot</a>,
    <a href="http://www.vermonster.com/">Vermonster</a>,
    <a href="http://www.wegowise.com/">WegoWise</a>,
    <a href="http://www.annkissam.com/">Annkissam</a>,
    <a href="http://launchacademy.co/">LaunchAcademy</a>,
    <a href="http://www.officedrop.com/">OfficeDrop</a>,
    <a href="http://www.rbmtechnologies.com/">RBM Technologies</a>,
    <a href="http://www.heroku.com/">Heroku</a>,
    <a href="https://www.tddium.com/">Solano Labs</a> and
    <a href="http://bigroomtechnology.com">Michael Breen</a>.
    </p>

  <p>
    We would also like to thank Andrew Farrell Lauren McLean for helping us get such a great venue and arrange excellent food service for the workshop. 
  </p>


  <p>
   Please follow us 
   on Twitter: <a href="https://twitter.com/RailsBridgeBos">@RailsBridgeBos</a>.
    To email us directly, please
   contact 
   <a href="mailto:railsbridgeboston@gmail.com">railsbridgeboston@gmail.com</a>.
  </p>

  <p> We're looking forward to growing and running more workshops. Please get in touch with us if you 
      want to attend or help. </p>

  </div>

  <div class="span6 recap-images">
    <p>TODO</p>

    <p>Photos contributed by Braulio Carreno</p> 
  </div>

</div>
