<div class="recap row">
  <div class="span12">
    <h1>Our second RailsBridge Boston workshop</h1>
    <h3>November 2012 @ MIT Stata Center</h3>
    <p><em>by Andrew Kuklewicz, Daniel Choi, Braulio Carreno, Brendan Kemp (TBD)</em></p>
  </div>
  <div class="span7">
    <%= markdown(:'blog/2012_nov_recap_text') %>
  </div>
  <div class="span5 recap-images">
    <p>TODO</p>
    <p>Photos contributed by Braulio Carreno</p> 
  </div>

</div>
