<div class="recap row">
  <div class="span12">
    <h1>RailsBridge Boston welcomes 64 women into Boston Ruby community</h1>
    <h3>June 21-22, 2013 @ NERD Center</h3>
    <p><em>by Dylan Cashman</em>
    <em>with photos by Naomi Rutledge</em></p>
  </div>
  <div class="span6 recapContent">
    <%= markdown(:'blog/2013_jun_recap_text') %>
  </div>
  <div class="span6 recap-images">
    <iframe src="http://player.vimeo.com/video/70699061" width="100%" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/70699061">RailsBridge Boston Video Teaser</a> from <a href="http://vimeo.com/railsbridgeboston">RailsBridge Boston</a> by <a href="http://www.a2vmedia.com/">A2V Media</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <img src="/images/jun_2013/large_group.jpg" title="Credit: Naomi Rutledge"/>

    <img class='with-caption' src="/images/jun_2013/draper_lecture.jpg" title="Credit: Naomi Rutledge"/>
    <div class='img-caption'>Jason explains Models and Persistence</div>

    <img src="/images/jun_2013/happy_group.jpg" title="Credit: Naomi Rutledge"/>
    <img src="/images/jun_2013/individuals.jpg" title="Credit: Naomi Rutledge"/>

    <img class="with-caption" src="/images/jun_2013/group_photo_with_window.jpg" title="Credit: Naomi Rutledge"/>

    <img src="/images/jun_2013/individuals_nice_view.jpg" title="Credit: Naomi Rutledge"/>

    <img class="with-caption" src="/images/stickers.jpg"/>
    <div class="img-caption">Our logo and stickers, thanks to Martha Rettig</div>

    <img src="/images/jun_2013/happy_lunch.jpg" title="Credit: Naomi Rutledge"/>

    <img class="with-caption" src="/images/jun_2013/pizza.jpg"/>
    <div class="img-caption">Grabbing dinner before the installation-fest</div>

    <img src="/images/jun_2013/happy_individuals.jpg" title="Credit: Naomi Rutledge"/>
    
    <img src="/images/jun_2013/small_group.jpg" title="Credit: Naomi Rutledge"/>

    <img src="/images/jun_2013/happy_small_group.jpg" title="Credit: Naomi Rutledge"/>

    <img src="/images/jun_2013/small_group_2.jpg" title="Credit: Naomi Rutledge"/>

    <img src="/images/jun_2013/small_group_3.jpg" title="Credit: Naomi Rutledge"/>


  </div>
  <div class="row span12">
    
    <hr/>
    <div id="index-sponsors">
      <% @sponsors.each do |sponsor| %>
        <a href="<%= sponsor[0] %>"><img src="<%= sponsor[1] %>"/></a>
      <% end %>
    </div>


  </div>

</section>

  </div>

</div>
