<div class="recap row">
  <div class="span12">
    <h1>Our second RailsBridge Boston workshop</h1>
    <h3>January 18-19, 2013 @ intelligent.ly</h3>
    <p><em>by Dylan Cashman</em>
    <em>with photos by Braulio Carreno</em></p>
  </div>
  <div class="span6 recapContent">
    <%= markdown(:'blog/2013_jan_recap_text') %>
  </div>
  <div class="span6 recap-images">
    <img src="/images/2012-nov/IMG_9813-sm.jpg" title="Credit: Rebecca Frankel"/>

    <img src="/images/2012-nov/tall1.jpg" title="Credit: Rebecca Frankel"/>

    <img src="/images/2012-nov/IMG_0088-sm.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/8176931541_b8bf30fac4_z_d.jpg" title="Credit: Braulio Carreno"/>

    <img class="with-caption" src="/images/2012-nov/IMG_9786-sm.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The TAs get ready to rumble</div>

    <img class="with-caption" src="/images/stickers.jpg"/>
    <div class="img-caption">Our new logo and stickers, thanks to Martha Rettig</div>

    <img class="with-caption" src="/images/2012-nov/progress-tracker.jpg" title="Credit: Peter Jaros"/>
    <div class="img-caption">Our curriculum progress tracker</div>

    <img class="with-caption" src="/images/2012-nov/beer.png"/>
    <div class="img-caption">We used Suggestotron as our afterparty beer tower poll app</div>

    <img src="/images/2012-nov/tall3.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/wide10-sm.jpg" title="Credit: Rebecca Frankel"/>
    <img src="/images/2012-nov/tall2.jpg" title="Credit: Rebecca Frankel"/>


    <img class="with-caption" src="/images/2012-nov/IMG_9797-sm.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The TAs introduce themselves</div>
    <img src="/images/2012-nov/draper.jpg" title="Credit: Rebecca Frankel"/>

    <img class="with-caption" src="/images/2012-nov/IMG_9799-sm.jpg" title="Credit: Rebecca Frankel"/>
    <div class="img-caption">The welcome desk, on which we serve name tags</div>
    
    <div id='sponsors'>  
      <a href="http://www.intelligent.ly/"><img src="/sponsors/intelligently.jpg"/></a>
    </div>
    <div class="img-caption">Our truly awesome sponsor</div>

  </div>

</section>

  </div>

</div>
