<div class="recap row">
  <div class="span12">
    <h1>Our Third RailsBridge Boston Workshop</h1>
    <h3>January 18-19, 2013 @ intelligent.ly</h3>
    <p><em>by Dylan Cashman</em>
    <em>with photos by Braulio Carreno</em></p>
  </div>
  <div class="span6 recapContent">
    <%= markdown(:'blog/2013_jan_recap_text') %>
  </div>
  <div class="span6 recap-images">
    <img src="/images/jan_2013/group_photo_day_2.jpg" title="Credit: Braulio Carreno"/>

    <img class='with-caption' src="/images/jan_2013/teacher_photo_1.jpg" title="Credit: Braulio Carreno"/>
    <div class='img-caption'>Braulio diagrams a web request</div>

    <img src="/images/jan_2013/ta_photo_1.jpg" title="Credit: Braulio Carreno"/>
    <img src="/images/jan_2013/student_photo_1.jpg" title="Credit: Braulio Carreno"/>

    <img class="with-caption" src="/images/jan_2013/ta_photo_group.jpg" title="Credit: Braulio Carreno"/>
    <div class="img-caption">The curriculum gets underway</div>

    <img src="/images/jan_2013/ta_photo_3.jpg" title="Credit: Braulio Carreno"/>

    <img class="with-caption" src="/images/stickers.jpg"/>
    <div class="img-caption">Our new logo and stickers, thanks to Martha Rettig</div>

    <img src="/images/jan_2013/group_photo_day.jpg" title="Credit: Braulio Carreno"/>

    <img class="with-caption" src="/images/jan_2013/teacher_photo_2.jpg"/>
    <div class="img-caption">Covering the Model-View-Controller dynamic</div>

    <img src="/images/jan_2013/group_photo_day_3.jpg" title="Credit: Braulio Carreno"/>
    
    <img src="/images/jan_2013/ta_photo_2.jpg" title="Credit: Braulio Carreno"/>

    <img src="/images/jan_2013/group_photo_day_4.jpg" title="Credit: Braulio Carreno"/>

    <img src="/images/jan_2013/ta_photo_group_2.jpg" title="Credit: Braulio Carreno"/>

    <div id='sponsors'>  
      <a href="http://www.intelligent.ly/"><img src="/sponsors/Intelligently.jpg"/></a>
    </div>
    <div class="img-caption">Our truly awesome sponsor</div>

  </div>

</section>

  </div>

</div>
