<div class="recap row">
  <div class="span12">
    <h1>Our Fourth RailsBridge Boston Workshop</h1>
    <h3>February 22 and March 3 @ MIT</h3>
    <p><em>by Daniel Choi and Janet Riley</em>
    <em>with photos by Rebecca Frankel</em></p>
  </div>
  <div class="span6 recapContent">
    <%= markdown(:'blog/2013_mar_recap_text') %>
  </div>
  <div class="span6 recap-images">
    <img src="/images/mar_2013/table1-r.jpg" />
    <img src="/images/mar_2013/pardeesmattjason-r.jpg" />


    <img src="/images/mar_2013/gunman-r.jpg" />
    <img src="/images/mar_2013/ta_lineup1-r.jpg" />
    <img src="/images/mar_2013/jiyeonjon-r.jpg" />
    <img src="/images/mar_2013/helping1-r.jpg" />

    <img src="/images/mar_2013/jeanjacket-vert-r.jpg" style="margin-right:4px" />
    <img src="/images/mar_2013/jenniferm-vert-r.jpg" />

    <img src="/images/mar_2013/table2-r.jpg" />
    <img src="/images/mar_2013/helping2-r.jpg" />

    <img src="/images/mar_2013/helping3-vert-r.jpg" style="margin-right:4px" />
    <img src="/images/mar_2013/helping4-vert-r.jpg" />

    <img src="/images/mar_2013/helping6-vert-r.jpg" style="margin-right:4px" />
    <img src="/images/mar_2013/helping5-vert-r.jpg" />

    <img src="/images/mar_2013/nametags-r.jpg" />

    <img src="/images/mar_2013/sponsors-r.jpg" />

  </div>
</div>
